# Recomendations with XGBoost
_**Using Gradient Boosted Trees to Provide Movie Recommendations**_

---

---

## Contents

1. [Background](#Background)
1. [Setup](#Setup)
1. [Data](#Data)
1. [Train](#Train)
1. [Compile](#Compile)
1. [Host](#Host)
  1. [Evaluate](#Evaluate)
  1. [Relative cost of errors](#Relative-cost-of-errors)
1. [Extensions](#Extensions)

---

## Background


TODO

This notebook will NOT be part of the workshop.  This one is used to pretrain the xgboost movie recommendation model.  Trained model should be uploaded to the correct S3 bucket to be used for deployment


---

## Setup

_This notebook was created and tested on an ml.m4.xlarge TODO : Check notebook instance._

Let's start by specifying:

- The S3 bucket and prefix that you want to use for training and model data.  This should be within the same region as the Notebook Instance, training, and hosting.
- The IAM role arn used to give training and hosting access to your data. See the documentation for how to create these.  Note, if more than one role is required for notebook instances, training, and/or hosting, please replace the boto regexp with a the appropriate full IAM role arn string(s).

In [1]:
bucket = 'sagemaker-us-west-2-555360056434'  ##TODO : Change this to session bucket
prefix = 'sagemaker/recommendations-xgboost-movie'

# Define IAM role
import boto3
import re
from sagemaker import get_execution_role

role = get_execution_role()

Next, we'll import the Python libraries we'll need for the remainder of the exercise.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import io
import os
import sys
import time
import json
from IPython.display import display
from time import strftime, gmtime
import sagemaker
from sagemaker.predictor import csv_serializer

---
## Data

Explain Movie Lens Data

In [3]:
## Is the movie lens data with all feature prepped??
feature_data_prepared = False

if (os.path.exists('ml-100k/movielens_data_allfeatures.csv')):
    feature_data_prepared = False

In [4]:
##TODO : Make this conditional.  Only need this the first time the data is being prepared

!wget http://files.grouplens.org/datasets/movielens/ml-100k.zip
!unzip -o ml-100k.zip

--2019-11-26 19:04:50--  http://files.grouplens.org/datasets/movielens/ml-100k.zip
Resolving files.grouplens.org (files.grouplens.org)... 128.101.65.152
Connecting to files.grouplens.org (files.grouplens.org)|128.101.65.152|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4924029 (4.7M) [application/zip]
Saving to: ‘ml-100k.zip’

ml-100k.zip         100%[===================>]   4.70M  11.8MB/s    in 0.4s

2019-11-26 19:04:51 (11.8 MB/s) - ‘ml-100k.zip’ saved [4924029/4924029]

Archive:  ml-100k.zip
   creating: ml-100k/
  inflating: ml-100k/allbut.pl
  inflating: ml-100k/mku.sh
  inflating: ml-100k/README
  inflating: ml-100k/u.data
  inflating: ml-100k/u.genre
  inflating: ml-100k/u.info
  inflating: ml-100k/u.item
  inflating: ml-100k/u.occupation
  inflating: ml-100k/u.user
  inflating: ml-100k/u1.base
  inflating: ml-100k/u1.test
  inflating: ml-100k/u2.base
  inflating: ml-100k/u2.test
  inflating: ml-100k/u3.base
  inflating: ml-100k/u3.test
  inflating: ml-100k/u4.base
  inflating: ml-100k/u4.test
  inflating: ml-100k/u5.base
  inflating: ml-100k/u5.test
  inflating: ml-100k/ua.base
  inflating: ml-100k/ua.test
  inflating: ml-100k/ub.base
  inflating: ml-100k/ub.test

Combine data from multiple files to create training data.

In [5]:
##Explore item data

df = pd.read_csv('ml-100k/u.item', delimiter ='|', encoding='latin-1')

df.columns = ["movie id", "movie title", "release date", "video release date",
              "IMDb URL", "unknown", "Action", "Adventure", "Animation",
              "Children's","Comedy","Crime","Documentary","Drama","Fantasy",
              "Film-Noir","Horror","Musical","Mystery", "Romance","Sci-Fi",
              "Thriller","War","Western"]

#We can drop the IMDB URL
df.drop(['IMDb URL'],axis=1, inplace=True)

## TODO : Can we drop release date  and video release date
df

#df.columns = ["User", "Item", "Rating", "TimeStamp"]

,movie id,movie title,release date,video release date,unknown,Action,Adventure,Animation,Children's,Comedy,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,2,GoldenEye (1995),01-Jan-1995,NaN,0,1,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,3,Four Rooms (1995),01-Jan-1995,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,4,Get Shorty (1995),01-Jan-1995,NaN,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,5,Copycat (1995),01-Jan-1995,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,6,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,01-Jan-1995,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,7,Twelve Monkeys (1995),01-Jan-1995,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
6,8,Babe (1995),01-Jan-1995,NaN,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
7,9,Dead Man Walking (1995),01-Jan-1995,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,10,Richard III (1995),22-Jan-1996,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
9,11,Seven (Se7en) (1995),01-Jan-1995,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
10,12,"Usual Suspects, The (1995)",14-Aug-1995,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
11,13,Mighty Aphrodite (1995),30-Oct-1995,NaN,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
12,14,"Postino, Il (1994)",01-Jan-1994,NaN,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
13,15,Mr. Holland's Opus (1995),29-Jan-1996,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,16,French Twist (Gazon maudit) (1995),01-Jan-1995,NaN,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
15,17,From Dusk Till Dawn (1996),05-Feb-1996,NaN,0,1,0,0,0,1,...,0,0,1,0,0,0,0,1,0,0
16,18,"White Balloon, The (1995)",01-Jan-1995,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,19,Antonia's Line (1995),01-Jan-1995,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,20,Angels and Insects (1995),01-Jan-1995,NaN,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
19,21,Muppet Treasure Island (1996),16-Feb-1996,NaN,0,1,1,0,0,1,...,0,0,0,1,0,0,0,1,0,0
20,22,Braveheart (1995),16-Feb-1996,NaN,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
21,23,Taxi Driver (1976),16-Feb-1996,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
22,24,Rumble in the Bronx (1995),23-Feb-1996,NaN,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,25,"Birdcage, The (1996)",08-Mar-1996,NaN,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
24,26,"Brothers McMullen, The (1995)",01-Jan-1995,NaN,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
25,27,Bad Boys (1995),01-Jan-1995,NaN,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,28,Apollo 13 (1995),01-Jan-1995,NaN,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
27,29,Batman Forever (1995),01-Jan-1995,NaN,0,1,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
28,30,Belle de jour (1967),01-Jan-1967,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,31,Crimson Tide (1995),01-Jan-1995,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1651,1653,Entertaining Angels: The Dorothy Day Story (1996),27-Sep-1996,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1652,1654,Chairman of the Board (1998),01-Jan-1998,NaN,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1653,1655,"Favor, The (1994)",01-Jan-1994,NaN,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
1654,1656,Little City (1998),20-Feb-1998,NaN,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
1655,1657,Target (1995),28-Feb-1996,NaN,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1656,1658,"Substance of Fire, The (1996)",06-Dec-1996,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1657,1659,Getting Away With Murder (1996),12-Apr-1996,NaN,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1658,1660,Small Faces (1995),09-Aug-1996,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1659,1661,"New Age, The (1994)",01-Jan-1994,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1660,1662,Rough Magic (1995),30-May-1997,NaN,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1661,1663,Nothing Personal (1995),30-Apr-1997,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1662,1664,8 Heads in a Duffel Bag (1997),18-Apr-1997,NaN,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1663,1665,"Brother's Kiss, A (1997)",25-Apr-1997,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1664,1666,Ripe (1996),02-May-1997,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1665,1667,"Next Step, The (1995)",13-Jun-1997,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1666,1668,Wedding Bell Blues (1996),13-Jun-1997,NaN,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1667,1669,MURDER and murder (1996),20-Jun-1997,NaN,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1668,1670,Tainted (1998),01-Feb-1998,NaN,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
1669,1671,"Further Gesture, A (1996)",20-Feb-1998,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1670,1672,Kika (1993),01-Jan-1993,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1671,1673,Mirage (1995),01-Jan-1995,NaN,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1672,1674,Mamma Roma (1962),01-Jan-1962,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1673,1675,"Sunchaser, The (1996)",25-Oct-1996,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1674,1676,"War at Home, The (1996)",01-Jan-1996,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1675,1677,Sweet Nothing (1995),20-Sep-1996,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1676,1678,Mat' i syn (1997),06-Feb-1998,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1677,1679,B. Monkey (1998),06-Feb-1998,NaN,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
1678,1680,Sliding Doors (1998),01-Jan-1998,NaN,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1679,1681,You So Crazy (1994),01-Jan-1994,NaN,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1680,1682,Scream of Stone (Schrei aus Stein) (1991),08-Mar-1996,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
##TODO : Make this conditional.  Only need this the first time the data is being prepared

## Start by reading ua.base into a dataframe
df_data = pd.read_csv('ml-100k/ua.base', header=None, delimiter = '\t')
df_data.columns = ["User", "Item", "Rating", "TimeStamp"]


print(df_data)
len(df_data)

       User  Item  Rating  TimeStamp
0         1     1       5  874965758
1         1     2       3  876893171
2         1     3       4  878542960
3         1     4       3  876893119
4         1     5       3  889751712
5         1     6       5  887431973
6         1     7       4  875071561
7         1     8       1  875072484
8         1     9       5  878543541
9         1    10       3  875693118
10        1    11       2  875072262
11        1    12       5  878542960
12        1    13       5  875071805
13        1    14       5  874965706
14        1    15       5  875071608
15        1    16       5  878543541
16        1    17       3  875073198
17        1    18       4  887432020
18        1    19       5  875071515
19        1    21       1  878542772
20        1    22       4  875072404
21        1    23       4  875072895
22        1    24       3  875071713
23        1    25       4  875071805
24        1    26       3  875072442
25        1    27       2  876892946
26        1    28       4  875072173
27        1    29       1  878542869
28        1    30       3  878542515
29        1    31       3  875072144
...     ...   ...     ...        ...
90540   943   685       4  875502042
90541   943   717       4  875502116
90542   943   720       1  888640048
90543   943   721       5  888639660
90544   943   722       3  888640208
90545   943   724       1  888639478
90546   943   732       4  888639789
90547   943   739       4  888639929
90548   943   756       2  875502146
90549   943   763       4  875501813
90550   943   765       3  888640227
90551   943   785       2  888640088
90552   943   794       3  888640143
90553   943   796       3  888640311
90554   943   816       4  888640186
90555   943   824       4  875502483
90556   943   825       3  875502283
90557   943   831       2  875502283
90558   943   840       4  888693104
90559   943   928       5  875502074
90560   943   941       1  888639725
90561   943   943       5  888639614
90562   943  1011       2  875502560
90563   943  1028       2  875502096
90564   943  1044       3  888639903
90565   943  1047       2  875502146
90566   943  1074       4  888640250
90567   943  1188       3  888640250
90568   943  1228       3  888640275
90569   943  1330       3  888692465

[90570 rows x 4 columns]

90570

In [7]:
##TODO : Make this conditional.  Only need this the first time the data is being prepared

## Now get the additional columns for user gender, age, occupation, zipcode
df_user = pd.read_csv('ml-100k/u.user', header=None, delimiter = '|')
df_user.columns = ["User", "Age", "Gender", "Occupation", "Zipcode"]

print("Number of users : ", len(df_user))
df_user

Number of users :  943

     User  Age Gender     Occupation Zipcode
0       1   24      M     technician   85711
1       2   53      F          other   94043
2       3   23      M         writer   32067
3       4   24      M     technician   43537
4       5   33      F          other   15213
5       6   42      M      executive   98101
6       7   57      M  administrator   91344
7       8   36      M  administrator   05201
8       9   29      M        student   01002
9      10   53      M         lawyer   90703
10     11   39      F          other   30329
11     12   28      F          other   06405
12     13   47      M       educator   29206
13     14   45      M      scientist   55106
14     15   49      F       educator   97301
15     16   21      M  entertainment   10309
16     17   30      M     programmer   06355
17     18   35      F          other   37212
18     19   40      M      librarian   02138
19     20   42      F      homemaker   95660
20     21   26      M         writer   30068
21     22   25      M         writer   40206
22     23   30      F         artist   48197
23     24   21      F         artist   94533
24     25   39      M       engineer   55107
25     26   49      M       engineer   21044
26     27   40      F      librarian   30030
27     28   32      M         writer   55369
28     29   41      M     programmer   94043
29     30    7      M        student   55436
..    ...  ...    ...            ...     ...
913   914   44      F          other   08105
914   915   50      M  entertainment   60614
915   916   27      M       engineer   N2L5N
916   917   22      F        student   20006
917   918   40      M      scientist   70116
918   919   25      M          other   14216
919   920   30      F         artist   90008
920   921   20      F        student   98801
921   922   29      F  administrator   21114
922   923   21      M        student   E2E3R
923   924   29      M          other   11753
924   925   18      F       salesman   49036
925   926   49      M  entertainment   01701
926   927   23      M     programmer   55428
927   928   21      M        student   55408
928   929   44      M      scientist   53711
929   930   28      F      scientist   07310
930   931   60      M       educator   33556
931   932   58      M       educator   06437
932   933   28      M        student   48105
933   934   61      M       engineer   22902
934   935   42      M         doctor   66221
935   936   24      M          other   32789
936   937   48      M       educator   98072
937   938   38      F     technician   55038
938   939   26      F        student   33319
939   940   32      M  administrator   02215
940   941   20      M        student   97229
941   942   48      F      librarian   78209
942   943   22      M        student   77841

[943 rows x 5 columns]

In [8]:
##Also, get the additional columns for the item (movie)
df_item = pd.read_csv('ml-100k/u.item', delimiter ='|', encoding='latin-1')

df_item.columns = ["movie id", "movie title", "release date", "video release date",
              "IMDb URL", "unknown", "Action", "Adventure", "Animation",
              "Children's","Comedy","Crime","Documentary","Drama","Fantasy",
              "Film-Noir","Horror","Musical","Mystery", "Romance","Sci-Fi",
              "Thriller","War","Western"]

print("Number of items (movies) : ", len(df_item))

Number of items (movies) :  1681

In [13]:
##Combine the user and items dataframes to get the complete data set.
#Iterate through the dataframe
##Not the most efficient code.  Can use better utilities

for i, row in df_data.iterrows():
    #print("row is ", type(row), " : ", row)
    user_id = row['User']
    item_id = row['Item']
 
    ##Initial items genres with 0
    df_data.at[i,"unknown"] = 0
    df_data.at[i,"Action"] = 0
    df_data.at[i,"Adventure"] = 0
    df_data.at[i,"Children's"] = 0
    df_data.at[i,"Comedy"] = 0
    df_data.at[i,"Crime"] = 0
    
    df_data.at[i,"Documentary"] = 0
    df_data.at[i,"Drama"] = 0
    df_data.at[i,"Fantasy"] = 0
    df_data.at[i,"Film-Noir"] = 0
    df_data.at[i,"Horror"] = 0
    
    df_data.at[i,"Musical"] = 0
    df_data.at[i,"Mystery"] = 0
    df_data.at[i,"Romance"] = 0
    df_data.at[i,"Sci-Fi"] = 0
    df_data.at[i,"Thriller"] = 0
    df_data.at[i,"War"] = 0
    df_data.at[i,"Western"] = 0
    
    item_match = df_item.loc[df_item['movie id'] == item_id]
    #print("Matching item is  ", item_match, ' with len ', len(item_match))
    
    if len(item_match) != 0 : 
        
        df_data.at[i,"unknown"] = item_match['unknown'].values[0]
        df_data.at[i,"Action"] = item_match['Action'].values[0]
        df_data.at[i,"Adventure"] = item_match['Adventure'].values[0]
        df_data.at[i,"Children's"] = item_match['Children\'s'].values[0]
        df_data.at[i,"Comedy"] = item_match['Comedy'].values[0]
        df_data.at[i,"Crime"] = item_match['Crime'].values[0]

        df_data.at[i,"Documentary"] = item_match['Documentary'].values[0]
        df_data.at[i,"Drama"] = item_match['Drama'].values[0]
        df_data.at[i,"Fantasy"] = item_match['Fantasy'].values[0]
        df_data.at[i,"Film-Noir"] = item_match['Film-Noir'].values[0]
        df_data.at[i,"Horror"] = item_match['Horror'].values[0]

        df_data.at[i,"Musical"] = item_match['Musical'].values[0]
        df_data.at[i,"Mystery"] = item_match['Mystery'].values[0]
        df_data.at[i,"Romance"] = item_match['Romance'].values[0]
        df_data.at[i,"Sci-Fi"] = item_match['Sci-Fi'].values[0]
        df_data.at[i,"Thriller"] = item_match['Thriller'].values[0]
        df_data.at[i,"War"] = item_match['War'].values[0]
        df_data.at[i,"Western"] = item_match['Western'].values[0]
        
    print("find a match for user_id ", user_id)
    ##For this user_id get gender, occupation and zipcode
    match = df_user.loc[df_user['User'] == user_id]
    user_age = match['Age'].values[0]
    user_gender = match['Gender'].values[0]
    user_occupation = match['Occupation'].values[0]
    user_zipcode = match['Zipcode'].values[0]
    
    df_data.at[i,"Age"] = user_age
    df_data.at[i,"Gender"] = user_gender
    df_data.at[i,"Occupation"] = user_occupation    
    df_data.at[i,"Zip Code"] = user_zipcode    
    
print("After update")
print(df_data[:100])

df_data.to_csv("ml-100k/movielens_data_allfeatures.csv")

row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                    1
Rating                  5
TimeStamp       874965758
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 0, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                    2
Rating                  3
TimeStamp       876893171
unknown                 0
Action                  1
Adventure               1
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                1
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 1, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                    3
Rating                  4
TimeStamp       878542960
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                1
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 2, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                    4
Rating                  3
TimeStamp       876893119
unknown                 0
Action                  1
Adventure               0
Children's              0
Comedy                  1
Crime                   0
Documentary             0
Drama                   1
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 3, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                    5
Rating                  3
TimeStamp       889751712
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  0
Crime                   1
Documentary             0
Drama                   1
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                1
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 4, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                    6
Rating                  5
TimeStamp       887431973
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   1
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 5, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                    7
Rating                  4
TimeStamp       875071561
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   1
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  1
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 6, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                    8
Rating                  1
TimeStamp       875072484
unknown                 0
Action                  0
Adventure               0
Children's              1
Comedy                  1
Crime                   0
Documentary             0
Drama                   1
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 7, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                    9
Rating                  5
TimeStamp       878543541
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   1
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 8, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                   10
Rating                  3
TimeStamp       875693118
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   1
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     1
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 9, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                   11
Rating                  2
TimeStamp       875072262
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  0
Crime                   1
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                1
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 10, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                   12
Rating                  5
TimeStamp       878542960
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  0
Crime                   1
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                1
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 11, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                   13
Rating                  5
TimeStamp       875071805
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  1
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 12, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                   14
Rating                  5
TimeStamp       874965706
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   1
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 1
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 13, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                   15
Rating                  5
TimeStamp       875071608
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   1
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 14, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                   16
Rating                  5
TimeStamp       878543541
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  1
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 1
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 15, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                   17
Rating                  3
TimeStamp       875073198
unknown                 0
Action                  1
Adventure               0
Children's              0
Comedy                  1
Crime                   1
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  1
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                1
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 16, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                   18
Rating                  4
TimeStamp       887432020
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   1
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 17, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                   19
Rating                  5
TimeStamp       875071515
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   1
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 18, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                   21
Rating                  1
TimeStamp       878542772
unknown                 0
Action                  1
Adventure               1
Children's              0
Comedy                  1
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 1
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                1
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 19, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                   22
Rating                  4
TimeStamp       875072404
unknown                 0
Action                  1
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   1
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     1
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 20, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                   23
Rating                  4
TimeStamp       875072895
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   1
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                1
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 21, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                   24
Rating                  3
TimeStamp       875071713
unknown                 0
Action                  1
Adventure               1
Children's              0
Comedy                  0
Crime                   1
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 22, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                   25
Rating                  4
TimeStamp       875071805
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  1
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 23, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                   26
Rating                  3
TimeStamp       875072442
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  1
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 24, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                   27
Rating                  2
TimeStamp       876892946
unknown                 0
Action                  1
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0

row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                   51
Rating                  4
TimeStamp       878543275
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   1
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 1
Sci-Fi                  0
Thriller                0
War                     1
Western                 1
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 48, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                   52
Rating                  4
TimeStamp       875072205
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   1
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 49, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                   53
Rating                  3
TimeStamp       876893206
unknown                 0
Action                  1
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                1
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 50, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                   54
Rating                  3
TimeStamp       878543308
unknown                 0
Action                  1
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   1
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                1
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 51, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                   55
Rating                  5
TimeStamp       875072688
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  0
Crime                   1
Documentary             0
Drama                   1
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 1
Sci-Fi                  0
Thriller                1
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 52, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                   56
Rating                  4
TimeStamp       875072716
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  0
Crime                   1
Documentary             0
Drama                   1
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 53, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                   57
Rating                  5
TimeStamp       878542459
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   1
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 54, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                   58
Rating                  4
TimeStamp       878542960
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   1
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 55, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                   59
Rating                  5
TimeStamp       876892817
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   1
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 56, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                   60
Rating                  5
TimeStamp       875072370
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   1
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 57, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                   62
Rating                  3
TimeStamp       878542282
unknown                 0
Action                  1
Adventure               1
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  1
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 58, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                   63
Rating                  2
TimeStamp       878543196
unknown                 0
Action                  0
Adventure               0
Children's              1
Comedy                  1
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 59, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                   64
Rating                  5
TimeStamp       875072404
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   1
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 60, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                   65
Rating                  4
TimeStamp       875072125
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  1
Crime                   0
Documentary             0
Drama                   1
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 61, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                   66
Rating                  4
TimeStamp       878543030
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  1
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 1
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 62, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                   67
Rating                  3
TimeStamp       876893054
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  1
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 63, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                   68
Rating                  4
TimeStamp       875072688
unknown                 0
Action                  1
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 1
Sci-Fi                  0
Thriller                1
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 64, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                   69
Rating                  3
TimeStamp       875072262
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  1
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 1
Sci-Fi                  0
Thriller                0
War                     1
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 65, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                   70
Rating                  3
TimeStamp       875072895
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  1
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 1
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 66, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                   71
Rating                  3
TimeStamp       876892425
unknown                 0
Action                  0
Adventure               0
Children's              1
Comedy                  0
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 1
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 67, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                   72
Rating                  4
TimeStamp       878542678
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  1
Crime                   1
Documentary             0
Drama                   0
Fantasy                 1
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 68, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                   73
Rating                  3
TimeStamp       876892774
unknown                 0
Action                  1
Adventure               0
Children's              0
Comedy                  1
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 1
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 69, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                   74
Rating                  1
TimeStamp       889751736
unknown                 0
Action                  1
Adventure               0
Children's              0
Comedy                  1
Crime                   0
Documentary             0
Drama                   1
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 70, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                   75
Rating                  4
TimeStamp       878543238
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             1
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 71, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                   76
Rating                  4
TimeStamp       878543176
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  0
Crime                   1
Documentary             0
Drama                   1
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 72, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                   77
Rating                  4
TimeStamp       876893205
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   1
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                1
War                     0

find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                   99
Rating                  3
TimeStamp       875072547
unknown                 0
Action                  0
Adventure               0
Children's              1
Comedy                  0
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 1
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 95, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  100
Rating                  5
TimeStamp       878543541
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  0
Crime                   1
Documentary             0
Drama                   1
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                1
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 96, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  101
Rating                  2
TimeStamp       878542845
unknown                 0
Action                  1
Adventure               1
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  1
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  1
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 97, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  102
Rating                  2
TimeStamp       889751736
unknown                 0
Action                  0
Adventure               0
Children's              1
Comedy                  0
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 98, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  103
Rating                  1
TimeStamp       878542845
unknown                 0
Action                  0
Adventure               0
Children's              1
Comedy                  0
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 1
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 99, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  104
Rating                  1
TimeStamp       875241619
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  1
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 100, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  105
Rating                  2
TimeStamp       875240739
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  1
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 101, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  106
Rating                  4
TimeStamp       875241390
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   1
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                1
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 102, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  107
Rating                  4
TimeStamp       875241619
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   1
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 103, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  108
Rating                  5
TimeStamp       875240920
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  1
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 104, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  109
Rating                  5
TimeStamp       874965739
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  1
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  1
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 105, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  110
Rating                  1
TimeStamp       878542845
unknown                 0
Action                  1
Adventure               1
Children's              0
Comedy                  1
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     1
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 106, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  111
Rating                  5
TimeStamp       889751711
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  1
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 1
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 107, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  112
Rating                  1
TimeStamp       878542441
unknown                 0
Action                  0
Adventure               1
Children's              1
Comedy                  0
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 108, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  113
Rating                  5
TimeStamp       878542738
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   1
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 109, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  114
Rating                  5
TimeStamp       875072173
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 110, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  115
Rating                  5
TimeStamp       878541637
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             1
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 111, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  116
Rating                  3
TimeStamp       878542960
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  1
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 112, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  118
Rating                  3
TimeStamp       875071927
unknown                 0
Action                  1
Adventure               1
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                1
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 113, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  119
Rating                  5
TimeStamp       876893098
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             1
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 114, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  120
Rating                  1
TimeStamp       875241637
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  1
Crime                   1
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 115, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  121
Rating                  4
TimeStamp       875071823
unknown                 0
Action                  1
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  1
Thriller                0
War                     1
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 116, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  122
Rating                  3
TimeStamp       875241498
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  1
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 117, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  123
Rating                  4
TimeStamp       875071541
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  1
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  1
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 118, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  124
Rating                  5
TimeStamp       875071484
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   1
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 1
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 119, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  125
Rating                  3
TimeStamp       878542960
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   1
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 1
Sci-Fi                  0

find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  146
Rating                  4
TimeStamp       875071561
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   1
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 141, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  147
Rating                  3
TimeStamp       875240993
unknown                 0
Action                  1
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                1
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 142, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  148
Rating                  2
TimeStamp       875240799
unknown                 0
Action                  1
Adventure               1
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 143, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  149
Rating                  2
TimeStamp       878542791
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   1
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 144, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  150
Rating                  5
TimeStamp       876892196
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  1
Crime                   0
Documentary             0
Drama                   1
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 145, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  151
Rating                  4
TimeStamp       875072865
unknown                 0
Action                  0
Adventure               1
Children's              1
Comedy                  1
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 146, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  152
Rating                  5
TimeStamp       878542589
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  1
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  1
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 147, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  153
Rating                  3
TimeStamp       876893230
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  1
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 148, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  154
Rating                  5
TimeStamp       878543541
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  1
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 149, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  156
Rating                  4
TimeStamp       874965556
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  0
Crime                   1
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                1
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 150, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  157
Rating                  4
TimeStamp       876892918
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   1
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     1
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 151, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  158
Rating                  3
TimeStamp       878542699
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  1
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 152, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  159
Rating                  3
TimeStamp       875073180
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 1
Romance                 0
Sci-Fi                  0
Thriller                1
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 153, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  161
Rating                  4
TimeStamp       875072303
unknown                 0
Action                  1
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 1
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 154, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  162
Rating                  4
TimeStamp       878542420
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   1
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 155, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  163
Rating                  4
TimeStamp       875072442
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  1
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 156, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  164
Rating                  3
TimeStamp       876893171
unknown                 0
Action                  1
Adventure               1
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  1
Thriller                1
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 157, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  165
Rating                  5
TimeStamp       874965518
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   1
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 158, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  166
Rating                  5
TimeStamp       874965677
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   1
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 159, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  167
Rating                  2
TimeStamp       878542383
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  1
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 160, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  168
Rating                  5
TimeStamp       874965478
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  1
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 161, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  169
Rating                  5
TimeStamp       878543541
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  1
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 162, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  170
Rating                  5
TimeStamp       876892856
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  1
Crime                   0
Documentary             0
Drama                   1
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 1
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 163, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  172
Rating                  5
TimeStamp       874965478
unknown                 0
Action                  1
Adventure               1
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   1
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 1
Sci-Fi                  1
Thriller                0
War                     1
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 164, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  173
Rating                  5
TimeStamp       878541803
unknown                 0
Action                  1
Adventure               1
Children's              0
Comedy                  1
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 1
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 165, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  174
Rating                  5
TimeStamp       875073198
unknown                 0
Action                  1
Adventure               1
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0

row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  194
Rating                  4
TimeStamp       876892743
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  1
Crime                   1
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 185, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  195
Rating                  5
TimeStamp       876892855
unknown                 0
Action                  1
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  1
Thriller                1
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 186, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  196
Rating                  5
TimeStamp       874965677
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   1
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 187, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  197
Rating                  5
TimeStamp       875072956
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   1
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 1
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 188, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  198
Rating                  5
TimeStamp       878542717
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                1
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 189, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  199
Rating                  4
TimeStamp       875072262
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   1
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     1
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 190, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  200
Rating                  3
TimeStamp       876893098
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  1
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 191, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  201
Rating                  3
TimeStamp       878542960
unknown                 0
Action                  1
Adventure               1
Children's              0
Comedy                  1
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  1
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 192, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  203
Rating                  4
TimeStamp       878542231
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 1
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 193, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  204
Rating                  5
TimeStamp       875072688
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  1
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  1
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 194, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  205
Rating                  3
TimeStamp       878542909
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   1
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     1
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 195, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  206
Rating                  4
TimeStamp       876893205
unknown                 0
Action                  0
Adventure               1
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  1
Thriller                1
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 196, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  207
Rating                  5
TimeStamp       875073067
unknown                 0
Action                  1
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   1
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 1
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 197, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  208
Rating                  5
TimeStamp       878542960
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  1
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  1
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 198, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  209
Rating                  4
TimeStamp       888732908
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  1
Crime                   0
Documentary             0
Drama                   1
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 1
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 199, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  210
Rating                  4
TimeStamp       878542909
unknown                 0
Action                  1
Adventure               1
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 200, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  211
Rating                  3
TimeStamp       878541970
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  1
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     1
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 201, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  212
Rating                  4
TimeStamp       875072895
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   1
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 202, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  213
Rating                  2
TimeStamp       876892896
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   1
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 1
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 203, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  214
Rating                  4
TimeStamp       875072520
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   1
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 1
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     1
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 204, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  215
Rating                  3
TimeStamp       876893145
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   1
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 205, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  216
Rating                  5
TimeStamp       876892701
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  1
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 1
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 206, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  217
Rating                  3
TimeStamp       876892676
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  1
Musical                 0
Mystery                 0
Romance                 1
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 207, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  218
Rating                  3
TimeStamp       876892856
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                1
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 208, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  219
Rating                  1
TimeStamp       878542327
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  1
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 209, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  220
Rating                  3
TimeStamp       875241390
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  1
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 1
Sci-Fi                  0
Thriller                0

row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  238
Rating                  4
TimeStamp       875072235
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  1
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 228, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  239
Rating                  4
TimeStamp       878542845
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  0
Crime                   1
Documentary             0
Drama                   1
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  1
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 229, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  240
Rating                  3
TimeStamp       875071898
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  1
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 230, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  241
Rating                  4
TimeStamp       878543133
unknown                 0
Action                  1
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 1
Sci-Fi                  0
Thriller                0
War                     1
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 231, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  242
Rating                  5
TimeStamp       889751633
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  1
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 232, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  243
Rating                  1
TimeStamp       875241390
unknown                 0
Action                  0
Adventure               0
Children's              1
Comedy                  1
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 233, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  244
Rating                  2
TimeStamp       887431973
unknown                 0
Action                  1
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   1
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                1
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 234, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  245
Rating                  2
TimeStamp       875071713
unknown                 0
Action                  1
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   1
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                1
War                     1
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 235, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  246
Rating                  5
TimeStamp       874965905
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   1
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 1
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 236, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  247
Rating                  1
TimeStamp       875241619
unknown                 0
Action                  1
Adventure               1
Children's              1
Comedy                  0
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 237, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  248
Rating                  4
TimeStamp       874965954
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  1
Crime                   1
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 238, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  249
Rating                  4
TimeStamp       874965970
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  1
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 239, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  250
Rating                  4
TimeStamp       874965706
unknown                 0
Action                  1
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  1
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 240, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  251
Rating                  4
TimeStamp       875071843
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  1
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 241, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  252
Rating                  2
TimeStamp       875240677
unknown                 0
Action                  1
Adventure               1
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  1
Thriller                1
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 242, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  253
Rating                  5
TimeStamp       874965970
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   1
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 1
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 243, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  254
Rating                  1
TimeStamp       878541392
unknown                 0
Action                  1
Adventure               1
Children's              0
Comedy                  0
Crime                   1
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 244, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  255
Rating                  2
TimeStamp       885345822
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  1
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 1
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 245, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  256
Rating                  4
TimeStamp       889751712
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  1
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 1
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 246, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  257
Rating                  4
TimeStamp       874965954
unknown                 0
Action                  1
Adventure               1
Children's              0
Comedy                  1
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  1
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 247, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  258
Rating                  5
TimeStamp       878873389
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   1
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  1
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 248, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  259
Rating                  1
TimeStamp       875692979
unknown                 0
Action                  0
Adventure               0
Children's              1
Comedy                  1
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 249, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  260
Rating                  1
TimeStamp       875071713
unknown                 0
Action                  1
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 1
Romance                 0
Sci-Fi                  1
Thriller                1
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 250, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  261
Rating                  1
TimeStamp       875692992
unknown                 0
Action                  0
Adventure               0
Children's              1
Comedy                  1
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 251, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  262
Rating                  3
TimeStamp       875071421
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   1
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            85711
Name: 252, dtype: object
find a match for user_id  1
row is  <class 'pandas.core.series.Series'>  :  User                    1
Item                  263
Rating                  1
TimeStamp       875693007
unknown                 0
Action                  1
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0

row is  <class 'pandas.core.series.Series'>  :  User                   2
Item                 242
Rating                 5
TimeStamp      888552084
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 1
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   53
Gender                 F
Occupation         other
Zip Code           94043
Name: 271, dtype: object
find a match for user_id  2
row is  <class 'pandas.core.series.Series'>  :  User                   2
Item                 255
Rating                 4
TimeStamp      888551341
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 1
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                1
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   53
Gender                 F
Occupation         other
Zip Code           94043
Name: 272, dtype: object
find a match for user_id  2
row is  <class 'pandas.core.series.Series'>  :  User                   2
Item                 257
Rating                 4
TimeStamp      888551062
unknown                0
Action                 1
Adventure              1
Children's             0
Comedy                 1
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 1
Thriller               0
War                    0
Western                0
Age                   53
Gender                 F
Occupation         other
Zip Code           94043
Name: 273, dtype: object
find a match for user_id  2
row is  <class 'pandas.core.series.Series'>  :  User                   2
Item                 258
Rating                 3
TimeStamp      888549961
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  1
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 1
Thriller               0
War                    0
Western                0
Age                   53
Gender                 F
Occupation         other
Zip Code           94043
Name: 274, dtype: object
find a match for user_id  2
row is  <class 'pandas.core.series.Series'>  :  User                   2
Item                 269
Rating                 4
TimeStamp      888550774
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 1
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   53
Gender                 F
Occupation         other
Zip Code           94043
Name: 275, dtype: object
find a match for user_id  2
row is  <class 'pandas.core.series.Series'>  :  User                   2
Item                 272
Rating                 5
TimeStamp      888979061
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  1
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   53
Gender                 F
Occupation         other
Zip Code           94043
Name: 276, dtype: object
find a match for user_id  2
row is  <class 'pandas.core.series.Series'>  :  User                   2
Item                 273
Rating                 4
TimeStamp      888551647
unknown                0
Action                 1
Adventure              0
Children's             0
Comedy                 0
Crime                  1
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               1
War                    0
Western                0
Age                   53
Gender                 F
Occupation         other
Zip Code           94043
Name: 277, dtype: object
find a match for user_id  2
row is  <class 'pandas.core.series.Series'>  :  User                   2
Item                 274
Rating                 3
TimeStamp      888551497
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 1
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                1
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   53
Gender                 F
Occupation         other
Zip Code           94043
Name: 278, dtype: object
find a match for user_id  2
row is  <class 'pandas.core.series.Series'>  :  User                   2
Item                 275
Rating                 5
TimeStamp      888550939
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  1
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                1
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   53
Gender                 F
Occupation         other
Zip Code           94043
Name: 279, dtype: object
find a match for user_id  2
row is  <class 'pandas.core.series.Series'>  :  User                   2
Item                 276
Rating                 4
TimeStamp      888551552
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  1
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                1
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   53
Gender                 F
Occupation         other
Zip Code           94043
Name: 280, dtype: object
find a match for user_id  2
row is  <class 'pandas.core.series.Series'>  :  User                   2
Item                 277
Rating                 4
TimeStamp      888551174
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  1
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   53
Gender                 F
Occupation         other
Zip Code           94043
Name: 281, dtype: object
find a match for user_id  2
row is  <class 'pandas.core.series.Series'>  :  User                   2
Item                 278
Rating                 3
TimeStamp      888551647
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  1
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                1
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   53
Gender                 F
Occupation         other
Zip Code           94043
Name: 282, dtype: object
find a match for user_id  2
row is  <class 'pandas.core.series.Series'>  :  User                   2
Item                 279
Rating                 4
TimeStamp      888551745
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  1
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   53
Gender                 F
Occupation         other
Zip Code           94043
Name: 283, dtype: object
find a match for user_id  2
row is  <class 'pandas.core.series.Series'>  :  User                   2
Item                 282
Rating                 4
TimeStamp      888551922
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  1
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   53
Gender                 F
Occupation         other
Zip Code           94043
Name: 284, dtype: object
find a match for user_id  2
row is  <class 'pandas.core.series.Series'>  :  User                   2
Item                 283
Rating                 5
TimeStamp      888552084
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  1
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                1
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   53
Gender                 F
Occupation         other
Zip Code           94043
Name: 285, dtype: object
find a match for user_id  2
row is  <class 'pandas.core.series.Series'>  :  User                   2
Item                 284
Rating                 4
TimeStamp      888552017
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 1
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                1
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   53
Gender                 F
Occupation         other
Zip Code           94043
Name: 286, dtype: object
find a match for user_id  2
row is  <class 'pandas.core.series.Series'>  :  User                   2
Item                 285
Rating                 5
TimeStamp      888552084
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  1
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   53
Gender                 F
Occupation         other
Zip Code           94043
Name: 287, dtype: object
find a match for user_id  2
row is  <class 'pandas.core.series.Series'>  :  User                   2
Item                 286
Rating                 4
TimeStamp      888549960
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  1
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                1
Sci-Fi                 0
Thriller               0
War                    1
Western                0
Age                   53
Gender                 F
Occupation         other
Zip Code           94043
Name: 288, dtype: object
find a match for user_id  2
row is  <class 'pandas.core.series.Series'>  :  User                   2
Item                 287
Rating                 3
TimeStamp      888551235
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  1
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   53
Gender                 F
Occupation         other
Zip Code           94043
Name: 289, dtype: object
find a match for user_id  2
row is  <class 'pandas.core.series.Series'>  :  User                   2
Item                 288
Rating                 3
TimeStamp      888550252
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 1
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               1
War                    0
Western                0
Age                   53
Gender                 F
Occupation         other
Zip Code           94043
Name: 290, dtype: object
find a match for user_id  2
row is  <class 'pandas.core.series.Series'>  :  User                   2
Item                 289
Rating                 3
TimeStamp      888979353
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  1
Fantasy                0
Film-Noir              0
Horror                 0
Musical                1
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   53
Gender                 F
Occupation         other
Zip Code           94043
Name: 291, dtype: object
find a match for user_id  2
row is  <class 'pandas.core.series.Series'>  :  User                   2
Item                 291
Rating                 3
TimeStamp      888551647
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                1
Romance                0
Sci-Fi                 0
Thriller               1
War                    0
Western                0
Age                   53
Gender                 F
Occupation         other
Zip Code           94043
Name: 292, dtype: object
find a match for user_id  2
row is  <class 'pandas.core.series.Series'>  :  User                   2
Item                 293
Rating                 4
TimeStamp      888550939
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 0
Crime                  1
Documentary            0
Drama                  1
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   53
Gender                 F
Occupation         other
Zip Code           94043
Name: 293, dtype: object
find a match for user_id  2
row is  <class 'pandas.core.series.Series'>  :  User                   2
Item                 294
Rating                 1
TimeStamp      888551648
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 1
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   53
Gender                 F
Occupation         other
Zip Code           94043
Name: 294, dtype: object
find a match for user_id  2
row is  <class 'pandas.core.series.Series'>  :  User                   2
Item                 295
Rating                 4
TimeStamp      888551164
unknown                0
Action                 1
Adventure              0
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               1
War                    0
Western                0
Age                   53
Gender                 F
Occupation         other
Zip Code           94043
Name: 295, dtype: object
find a match for user_id  2
row is  <class 'pandas.core.series.Series'>  :  User                   2
Item                 296
Rating                 3
TimeStamp      888550871
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  1
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   53
Gender                 F
Occupation         other
Zip Code           94043
Name: 296, dtype: object
find a match for user_id  2
row is  <class 'pandas.core.series.Series'>  :  User                   2
Item                 298
Rating                 3
TimeStamp      888551441
unknown                0
Action                 1
Adventure              0
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0

find a match for user_id  2
row is  <class 'pandas.core.series.Series'>  :  User                   3
Item                 181
Rating                 4
TimeStamp      889237482
unknown                0
Action                 1
Adventure              1
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                1
Sci-Fi                 1
Thriller               0
War                    1
Western                0
Age                   23
Gender                 M
Occupation        writer
Zip Code           32067
Name: 314, dtype: object
find a match for user_id  3
row is  <class 'pandas.core.series.Series'>  :  User                   3
Item                 258
Rating                 2
TimeStamp      889237026
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  1
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 1
Thriller               0
War                    0
Western                0
Age                   23
Gender                 M
Occupation        writer
Zip Code           32067
Name: 315, dtype: object
find a match for user_id  3
row is  <class 'pandas.core.series.Series'>  :  User                   3
Item                 260
Rating                 4
TimeStamp      889237455
unknown                0
Action                 1
Adventure              0
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                1
Romance                0
Sci-Fi                 1
Thriller               1
War                    0
Western                0
Age                   23
Gender                 M
Occupation        writer
Zip Code           32067
Name: 316, dtype: object
find a match for user_id  3
row is  <class 'pandas.core.series.Series'>  :  User                   3
Item                 264
Rating                 2
TimeStamp      889237297
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 1
Thriller               1
War                    0
Western                0
Age                   23
Gender                 M
Occupation        writer
Zip Code           32067
Name: 317, dtype: object
find a match for user_id  3
row is  <class 'pandas.core.series.Series'>  :  User                   3
Item                 268
Rating                 3
TimeStamp      889236961
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  1
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                1
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   23
Gender                 M
Occupation        writer
Zip Code           32067
Name: 318, dtype: object
find a match for user_id  3
row is  <class 'pandas.core.series.Series'>  :  User                   3
Item                 271
Rating                 3
TimeStamp      889237224
unknown                0
Action                 1
Adventure              1
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 1
Thriller               0
War                    1
Western                0
Age                   23
Gender                 M
Occupation        writer
Zip Code           32067
Name: 319, dtype: object
find a match for user_id  3
row is  <class 'pandas.core.series.Series'>  :  User                   3
Item                 272
Rating                 2
TimeStamp      889237055
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  1
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   23
Gender                 M
Occupation        writer
Zip Code           32067
Name: 320, dtype: object
find a match for user_id  3
row is  <class 'pandas.core.series.Series'>  :  User                   3
Item                 288
Rating                 2
TimeStamp      889237026
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 1
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               1
War                    0
Western                0
Age                   23
Gender                 M
Occupation        writer
Zip Code           32067
Name: 321, dtype: object
find a match for user_id  3
row is  <class 'pandas.core.series.Series'>  :  User                   3
Item                 299
Rating                 3
TimeStamp      889237199
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 0
Crime                  1
Documentary            0
Drama                  1
Fantasy                0
Film-Noir              1
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   23
Gender                 M
Occupation        writer
Zip Code           32067
Name: 322, dtype: object
find a match for user_id  3
row is  <class 'pandas.core.series.Series'>  :  User                   3
Item                 300
Rating                 2
TimeStamp      889236939
unknown                0
Action                 1
Adventure              0
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               1
War                    0
Western                0
Age                   23
Gender                 M
Occupation        writer
Zip Code           32067
Name: 323, dtype: object
find a match for user_id  3
row is  <class 'pandas.core.series.Series'>  :  User                   3
Item                 302
Rating                 2
TimeStamp      889236939
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 0
Crime                  1
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              1
Horror                 0
Musical                0
Mystery                1
Romance                0
Sci-Fi                 0
Thriller               1
War                    0
Western                0
Age                   23
Gender                 M
Occupation        writer
Zip Code           32067
Name: 324, dtype: object
find a match for user_id  3
row is  <class 'pandas.core.series.Series'>  :  User                   3
Item                 303
Rating                 3
TimeStamp      889236983
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  1
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   23
Gender                 M
Occupation        writer
Zip Code           32067
Name: 325, dtype: object
find a match for user_id  3
row is  <class 'pandas.core.series.Series'>  :  User                   3
Item                 307
Rating                 3
TimeStamp      889237224
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 0
Crime                  1
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 1
Musical                0
Mystery                1
Romance                0
Sci-Fi                 0
Thriller               1
War                    0
Western                0
Age                   23
Gender                 M
Occupation        writer
Zip Code           32067
Name: 326, dtype: object
find a match for user_id  3
row is  <class 'pandas.core.series.Series'>  :  User                   3
Item                 317
Rating                 2
TimeStamp      889237482
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  1
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   23
Gender                 M
Occupation        writer
Zip Code           32067
Name: 327, dtype: object
find a match for user_id  3
row is  <class 'pandas.core.series.Series'>  :  User                   3
Item                 318
Rating                 4
TimeStamp      889237482
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  1
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    1
Western                0
Age                   23
Gender                 M
Occupation        writer
Zip Code           32067
Name: 328, dtype: object
find a match for user_id  3
row is  <class 'pandas.core.series.Series'>  :  User                   3
Item                 319
Rating                 2
TimeStamp      889237026
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 1
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                1
Mystery                0
Romance                1
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   23
Gender                 M
Occupation        writer
Zip Code           32067
Name: 329, dtype: object
find a match for user_id  3
row is  <class 'pandas.core.series.Series'>  :  User                   3
Item                 320
Rating                 5
TimeStamp      889237482
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 0
Crime                  0
Documentary            1
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   23
Gender                 M
Occupation        writer
Zip Code           32067
Name: 330, dtype: object
find a match for user_id  3
row is  <class 'pandas.core.series.Series'>  :  User                   3
Item                 321
Rating                 5
TimeStamp      889237455
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 1
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   23
Gender                 M
Occupation        writer
Zip Code           32067
Name: 331, dtype: object
find a match for user_id  3
row is  <class 'pandas.core.series.Series'>  :  User                   3
Item                 322
Rating                 3
TimeStamp      889237269
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                1
Romance                0
Sci-Fi                 0
Thriller               1
War                    0
Western                0
Age                   23
Gender                 M
Occupation        writer
Zip Code           32067
Name: 332, dtype: object
find a match for user_id  3
row is  <class 'pandas.core.series.Series'>  :  User                   3
Item                 324
Rating                 2
TimeStamp      889237247
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                1
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   23
Gender                 M
Occupation        writer
Zip Code           32067
Name: 333, dtype: object
find a match for user_id  3
row is  <class 'pandas.core.series.Series'>  :  User                   3
Item                 325
Rating                 1
TimeStamp      889237297
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  1
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               1
War                    0
Western                0
Age                   23
Gender                 M
Occupation        writer
Zip Code           32067
Name: 334, dtype: object
find a match for user_id  3
row is  <class 'pandas.core.series.Series'>  :  User                   3
Item                 326
Rating                 2
TimeStamp      889237224
unknown                0
Action                 1
Adventure              0
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  1
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    1
Western                0
Age                   23
Gender                 M
Occupation        writer
Zip Code           32067
Name: 335, dtype: object
find a match for user_id  3
row is  <class 'pandas.core.series.Series'>  :  User                   3
Item                 327
Rating                 4
TimeStamp      889237455
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 0
Crime                  1
Documentary            0
Drama                  1
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                1
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   23
Gender                 M
Occupation        writer
Zip Code           32067
Name: 336, dtype: object
find a match for user_id  3
row is  <class 'pandas.core.series.Series'>  :  User                   3
Item                 329
Rating                 4
TimeStamp      889237455
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 0
Crime                  1
Documentary            0
Drama                  1
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               1
War                    0
Western                0
Age                   23
Gender                 M
Occupation        writer
Zip Code           32067
Name: 337, dtype: object
find a match for user_id  3
row is  <class 'pandas.core.series.Series'>  :  User                   3
Item                 330
Rating                 2
TimeStamp      889237297
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  1
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   23
Gender                 M
Occupation        writer
Zip Code           32067
Name: 338, dtype: object
find a match for user_id  3
row is  <class 'pandas.core.series.Series'>  :  User                   3
Item                 333
Rating                 2
TimeStamp      889236939
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                1
Romance                0
Sci-Fi                 0
Thriller               1
War                    0
Western                0
Age                   23
Gender                 M
Occupation        writer
Zip Code           32067
Name: 339, dtype: object
find a match for user_id  3
row is  <class 'pandas.core.series.Series'>  :  User                   3
Item                 336
Rating                 1
TimeStamp      889237198
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 0
Crime                  1
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0

row is  <class 'pandas.core.series.Series'>  :  User                   3
Item                 355
Rating                 3
TimeStamp      889237247
unknown                0
Action                 0
Adventure              1
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 1
Thriller               1
War                    0
Western                0
Age                   23
Gender                 M
Occupation        writer
Zip Code           32067
Name: 357, dtype: object
find a match for user_id  3
row is  <class 'pandas.core.series.Series'>  :  User                    4
Item                   11
Rating                  4
TimeStamp       892004520
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  0
Crime                   1
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                1
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            43537
Name: 358, dtype: object
find a match for user_id  4
row is  <class 'pandas.core.series.Series'>  :  User                    4
Item                  210
Rating                  3
TimeStamp       892003374
unknown                 0
Action                  1
Adventure               1
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            43537
Name: 359, dtype: object
find a match for user_id  4
row is  <class 'pandas.core.series.Series'>  :  User                    4
Item                  258
Rating                  5
TimeStamp       892001374
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   1
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  1
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            43537
Name: 360, dtype: object
find a match for user_id  4
row is  <class 'pandas.core.series.Series'>  :  User                    4
Item                  271
Rating                  4
TimeStamp       892001690
unknown                 0
Action                  1
Adventure               1
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  1
Thriller                0
War                     1
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            43537
Name: 361, dtype: object
find a match for user_id  4
row is  <class 'pandas.core.series.Series'>  :  User                    4
Item                  300
Rating                  5
TimeStamp       892001445
unknown                 0
Action                  1
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                1
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            43537
Name: 362, dtype: object
find a match for user_id  4
row is  <class 'pandas.core.series.Series'>  :  User                    4
Item                  301
Rating                  5
TimeStamp       892002353
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  1
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            43537
Name: 363, dtype: object
find a match for user_id  4
row is  <class 'pandas.core.series.Series'>  :  User                    4
Item                  324
Rating                  5
TimeStamp       892002353
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 1
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            43537
Name: 364, dtype: object
find a match for user_id  4
row is  <class 'pandas.core.series.Series'>  :  User                    4
Item                  327
Rating                  5
TimeStamp       892002352
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  0
Crime                   1
Documentary             0
Drama                   1
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 1
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            43537
Name: 365, dtype: object
find a match for user_id  4
row is  <class 'pandas.core.series.Series'>  :  User                    4
Item                  328
Rating                  3
TimeStamp       892001537
unknown                 0
Action                  1
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 1
Romance                 1
Sci-Fi                  0
Thriller                1
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            43537
Name: 366, dtype: object
find a match for user_id  4
row is  <class 'pandas.core.series.Series'>  :  User                    4
Item                  329
Rating                  5
TimeStamp       892002352
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  0
Crime                   1
Documentary             0
Drama                   1
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                1
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            43537
Name: 367, dtype: object
find a match for user_id  4
row is  <class 'pandas.core.series.Series'>  :  User                    4
Item                  358
Rating                  2
TimeStamp       892004275
unknown                 0
Action                  1
Adventure               1
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  1
Thriller                1
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            43537
Name: 368, dtype: object
find a match for user_id  4
row is  <class 'pandas.core.series.Series'>  :  User                    4
Item                  359
Rating                  5
TimeStamp       892002352
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                1
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            43537
Name: 369, dtype: object
find a match for user_id  4
row is  <class 'pandas.core.series.Series'>  :  User                    4
Item                  360
Rating                  5
TimeStamp       892002352
unknown                 0
Action                  0
Adventure               0
Children's              0
Comedy                  0
Crime                   0
Documentary             1
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 0
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            43537
Name: 370, dtype: object
find a match for user_id  4
row is  <class 'pandas.core.series.Series'>  :  User                    4
Item                  362
Rating                  5
TimeStamp       892002352
unknown                 0
Action                  1
Adventure               0
Children's              0
Comedy                  1
Crime                   0
Documentary             0
Drama                   0
Fantasy                 0
Film-Noir               0
Horror                  0
Musical                 1
Mystery                 0
Romance                 0
Sci-Fi                  0
Thriller                0
War                     0
Western                 0
Age                    24
Gender                  M
Occupation     technician
Zip Code            43537
Name: 371, dtype: object
find a match for user_id  4
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                  21
Rating                 3
TimeStamp      875635327
unknown                0
Action                 1
Adventure              1
Children's             0
Comedy                 1
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                1
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               1
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 372, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                  24
Rating                 4
TimeStamp      879198229
unknown                0
Action                 1
Adventure              1
Children's             0
Comedy                 0
Crime                  1
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 373, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                  25
Rating                 3
TimeStamp      875635318
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 1
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 374, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                  29
Rating                 4
TimeStamp      875637023
unknown                0
Action                 1
Adventure              1
Children's             0
Comedy                 1
Crime                  1
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 375, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                  40
Rating                 4
TimeStamp      879198109
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 1
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 376, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                  42
Rating                 5
TimeStamp      875636360
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 1
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 377, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                  50
Rating                 4
TimeStamp      875635758
unknown                0
Action                 1
Adventure              1
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                1
Sci-Fi                 1
Thriller               0
War                    1
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 378, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                  62
Rating                 4
TimeStamp      875637575
unknown                0
Action                 1
Adventure              1
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 1
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 379, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                  63
Rating                 1
TimeStamp      878844629
unknown                0
Action                 0
Adventure              0
Children's             1
Comedy                 1
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 380, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                  66
Rating                 1
TimeStamp      875721019
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 1
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                1
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 381, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                  69
Rating                 1
TimeStamp      875721555
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 1
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                1
Sci-Fi                 0
Thriller               0
War                    1
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 382, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                  70

find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 144
Rating                 3
TimeStamp      875636141
unknown                0
Action                 1
Adventure              0
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               1
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 400, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 145
Rating                 1
TimeStamp      875720830
unknown                0
Action                 1
Adventure              0
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 1
Thriller               1
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 401, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 151
Rating                 3
TimeStamp      875635723
unknown                0
Action                 0
Adventure              1
Children's             1
Comedy                 1
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 402, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 153
Rating                 5
TimeStamp      875636375
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 1
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 403, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 154
Rating                 3
TimeStamp      875636691
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 1
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 404, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 162
Rating                 1
TimeStamp      875721572
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  1
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 405, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 163
Rating                 5
TimeStamp      879197864
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 1
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 406, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 167
Rating                 2
TimeStamp      875636281
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 1
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 407, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 168
Rating                 3
TimeStamp      875636691
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 1
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 408, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 169
Rating                 5
TimeStamp      878844495
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 1
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 409, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 172
Rating                 5
TimeStamp      875636130
unknown                0
Action                 1
Adventure              1
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  1
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                1
Sci-Fi                 1
Thriller               0
War                    1
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 410, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 173
Rating                 4
TimeStamp      875636675
unknown                0
Action                 1
Adventure              1
Children's             0
Comedy                 1
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                1
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 411, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 174
Rating                 5
TimeStamp      875636130
unknown                0
Action                 1
Adventure              1
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 412, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 176
Rating                 3
TimeStamp      875635962
unknown                0
Action                 1
Adventure              0
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 1
Thriller               1
War                    1
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 413, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 181
Rating                 5
TimeStamp      875635757
unknown                0
Action                 1
Adventure              1
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                1
Sci-Fi                 1
Thriller               0
War                    1
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 414, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 183
Rating                 4
TimeStamp      875636014
unknown                0
Action                 1
Adventure              0
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 1
Musical                0
Mystery                0
Romance                0
Sci-Fi                 1
Thriller               1
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 415, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 185
Rating                 3
TimeStamp      875720692
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 1
Musical                0
Mystery                0
Romance                1
Sci-Fi                 0
Thriller               1
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 416, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 186
Rating                 5
TimeStamp      875636375
unknown                0
Action                 1
Adventure              0
Children's             0
Comedy                 1
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                1
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 417, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 189
Rating                 5
TimeStamp      878844495
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 1
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 418, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 194
Rating                 4
TimeStamp      878845197
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 1
Crime                  1
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 419, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 200
Rating                 2
TimeStamp      875720717
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 1
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 420, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 204
Rating                 4
TimeStamp      875636675
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 1
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 1
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 421, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 208
Rating                 4
TimeStamp      875636675
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 1
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 1
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 422, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 209
Rating                 5
TimeStamp      875636571
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 1
Crime                  0
Documentary            0
Drama                  1
Fantasy                0
Film-Noir              0
Horror                 0
Musical                1
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 423, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 210
Rating                 3
TimeStamp      875636099
unknown                0
Action                 1
Adventure              1
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 424, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 211
Rating                 4
TimeStamp      875636631
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 1
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    1
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 425, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 214
Rating                 3
TimeStamp      875637485
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  1
Fantasy                0
Film-Noir              0
Horror                 0

row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 243
Rating                 1
TimeStamp      878844164
unknown                0
Action                 0
Adventure              0
Children's             1
Comedy                 1
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 441, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 250
Rating                 3
TimeStamp      875635265
unknown                0
Action                 1
Adventure              0
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 1
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 442, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 257
Rating                 5
TimeStamp      875635239
unknown                0
Action                 1
Adventure              1
Children's             0
Comedy                 1
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 1
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 443, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 259
Rating                 1
TimeStamp      878844208
unknown                0
Action                 0
Adventure              0
Children's             1
Comedy                 1
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 444, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 267
Rating                 4
TimeStamp      875635064
unknown                1
Action                 0
Adventure              0
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 445, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 364
Rating                 1
TimeStamp      875636571
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 1
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 446, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 365
Rating                 1
TimeStamp      875637144
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  1
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 447, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 366
Rating                 3
TimeStamp      875637145
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  1
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 448, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 367
Rating                 3
TimeStamp      875636281
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 1
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 449, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 368
Rating                 1
TimeStamp      875635457
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 1
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 450, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 369
Rating                 1
TimeStamp      875635372
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 1
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 451, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 370
Rating                 1
TimeStamp      875720814
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  1
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               1
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 452, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 371
Rating                 1
TimeStamp      875720967
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  1
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                1
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 453, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 372
Rating                 3
TimeStamp      875636230
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 1
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 454, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 373
Rating                 3
TimeStamp      875635907
unknown                0
Action                 1
Adventure              1
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 1
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 455, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 374
Rating                 3
TimeStamp      875636905
unknown                0
Action                 1
Adventure              0
Children's             1
Comedy                 0
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 456, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 375
Rating                 3
TimeStamp      875637587
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  1
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 457, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 376
Rating                 2
TimeStamp      879198045
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 1
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 458, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 377
Rating                 1
TimeStamp      878844615
unknown                0
Action                 0
Adventure              0
Children's             1
Comedy                 1
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 459, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 378
Rating                 1
TimeStamp      875721167
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  1
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 460, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 379
Rating                 3
TimeStamp      875720814
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 1
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 461, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 380
Rating                 3
TimeStamp      875637191
unknown                0
Action                 1
Adventure              1
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 1
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 462, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 381
Rating                 1
TimeStamp      875636540
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 1
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                1
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 463, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 382
Rating                 5
TimeStamp      875636587
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 1
Crime                  0
Documentary            0
Drama                  1
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 464, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 383
Rating                 3
TimeStamp      875636588
unknown                0
Action                 0
Adventure              0
Children's             1
Comedy                 1
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 465, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 384
Rating                 3
TimeStamp      875636389
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 1
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 466, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 385
Rating                 4
TimeStamp      875636185
unknown                0
Action                 1
Adventure              1
Children's             0
Comedy                 1
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0

row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 406
Rating                 1
TimeStamp      875635807
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 1
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               1
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 488, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 407
Rating                 3
TimeStamp      875635431
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 1
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 489, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 408
Rating                 5
TimeStamp      878844495
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 1
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               1
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 490, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 409
Rating                 2
TimeStamp      878844651
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 1
Crime                  0
Documentary            0
Drama                  1
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 491, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 410
Rating                 1
TimeStamp      879198183
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 1
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 492, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 411
Rating                 1
TimeStamp      875635431
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 1
Crime                  0
Documentary            0
Drama                  0
Fantasy                1
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                1
Sci-Fi                 1
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 493, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 412
Rating                 3
TimeStamp      875635416
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 1
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 494, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 413
Rating                 3
TimeStamp      875635807
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 1
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 495, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 414
Rating                 3
TimeStamp      875636691
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 1
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 496, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 415
Rating                 1
TimeStamp      875636842
unknown                0
Action                 0
Adventure              0
Children's             1
Comedy                 1
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                1
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 497, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 416
Rating                 1
TimeStamp      875721196
unknown                0
Action                 0
Adventure              0
Children's             1
Comedy                 0
Crime                  0
Documentary            0
Drama                  1
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 498, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 417
Rating                 3
TimeStamp      875636830
unknown                0
Action                 0
Adventure              0
Children's             1
Comedy                 0
Crime                  0
Documentary            0
Drama                  1
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 499, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 418
Rating                 3
TimeStamp      875721216
unknown                0
Action                 0
Adventure              0
Children's             1
Comedy                 0
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                1
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 500, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 419
Rating                 3
TimeStamp      875636815
unknown                0
Action                 0
Adventure              0
Children's             1
Comedy                 1
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                1
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 501, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 420
Rating                 3
TimeStamp      875721168
unknown                0
Action                 0
Adventure              0
Children's             1
Comedy                 0
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                1
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 502, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 421
Rating                 1
TimeStamp      875721019
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  1
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                1
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 503, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 422
Rating                 4
TimeStamp      875636767
unknown                0
Action                 0
Adventure              0
Children's             1
Comedy                 1
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 504, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 423
Rating                 4
TimeStamp      875636793
unknown                0
Action                 0
Adventure              0
Children's             1
Comedy                 0
Crime                  0
Documentary            0
Drama                  1
Fantasy                1
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 1
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 505, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 425
Rating                 2
TimeStamp      875637440
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 1
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 506, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 426
Rating                 3
TimeStamp      878844510
unknown                0
Action                 1
Adventure              0
Children's             1
Comedy                 0
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 1
Thriller               1
War                    1
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 507, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 427
Rating                 3
TimeStamp      875721167
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  1
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 508, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 428
Rating                 5
TimeStamp      875636588
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 1
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 509, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 429
Rating                 3
TimeStamp      875637429
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  1
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 1
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 510, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 430
Rating                 5
TimeStamp      875636631
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 1
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    1
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 511, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 431
Rating                 3
TimeStamp      875636099
unknown                0
Action                 1
Adventure              1
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 512, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 432
Rating                 4
TimeStamp      875636793
unknown                0
Action                 0
Adventure              0
Children's             1
Comedy                 0
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                1
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 513, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 433
Rating                 5
TimeStamp      875636655
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 1
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0

find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 456
Rating                 1
TimeStamp      875636375
unknown                0
Action                 1
Adventure              0
Children's             0
Comedy                 1
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 535, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   5
Item                 457
Rating                 1
TimeStamp      879198898
unknown                0
Action                 0
Adventure              1
Children's             1
Comedy                 0
Crime                  0
Documentary            0
Drama                  1
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   33
Gender                 F
Occupation         other
Zip Code           15213
Name: 536, dtype: object
find a match for user_id  5
row is  <class 'pandas.core.series.Series'>  :  User                   6
Item                   1
Rating                 4
TimeStamp      883599478
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   42
Gender                 M
Occupation     executive
Zip Code           98101
Name: 537, dtype: object
find a match for user_id  6
row is  <class 'pandas.core.series.Series'>  :  User                   6
Item                   7
Rating                 2
TimeStamp      883599102
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  1
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 1
Thriller               0
War                    0
Western                0
Age                   42
Gender                 M
Occupation     executive
Zip Code           98101
Name: 538, dtype: object
find a match for user_id  6
row is  <class 'pandas.core.series.Series'>  :  User                   6
Item                   8
Rating                 4
TimeStamp      883600657
unknown                0
Action                 0
Adventure              0
Children's             1
Comedy                 1
Crime                  0
Documentary            0
Drama                  1
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   42
Gender                 M
Occupation     executive
Zip Code           98101
Name: 539, dtype: object
find a match for user_id  6
row is  <class 'pandas.core.series.Series'>  :  User                   6
Item                   9
Rating                 4
TimeStamp      883599205
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  1
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   42
Gender                 M
Occupation     executive
Zip Code           98101
Name: 540, dtype: object
find a match for user_id  6
row is  <class 'pandas.core.series.Series'>  :  User                   6
Item                  12
Rating                 4
TimeStamp      883601053
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 0
Crime                  1
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               1
War                    0
Western                0
Age                   42
Gender                 M
Occupation     executive
Zip Code           98101
Name: 541, dtype: object
find a match for user_id  6
row is  <class 'pandas.core.series.Series'>  :  User                   6
Item                  13
Rating                 2
TimeStamp      883599400
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 1
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   42
Gender                 M
Occupation     executive
Zip Code           98101
Name: 542, dtype: object
find a match for user_id  6
row is  <class 'pandas.core.series.Series'>  :  User                   6
Item                  15
Rating                 3
TimeStamp      883599302
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  1
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   42
Gender                 M
Occupation     executive
Zip Code           98101
Name: 543, dtype: object
find a match for user_id  6
row is  <class 'pandas.core.series.Series'>  :  User                   6
Item                  19
Rating                 4
TimeStamp      883602965
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  1
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   42
Gender                 M
Occupation     executive
Zip Code           98101
Name: 544, dtype: object
find a match for user_id  6
row is  <class 'pandas.core.series.Series'>  :  User                   6
Item                  21
Rating                 3
TimeStamp      883600152
unknown                0
Action                 1
Adventure              1
Children's             0
Comedy                 1
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                1
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               1
War                    0
Western                0
Age                   42
Gender                 M
Occupation     executive
Zip Code           98101
Name: 545, dtype: object
find a match for user_id  6
row is  <class 'pandas.core.series.Series'>  :  User                   6
Item                  22
Rating                 3
TimeStamp      883602048
unknown                0
Action                 1
Adventure              0
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  1
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    1
Western                0
Age                   42
Gender                 M
Occupation     executive
Zip Code           98101
Name: 546, dtype: object
find a match for user_id  6
row is  <class 'pandas.core.series.Series'>  :  User                   6
Item                  28
Rating                 2
TimeStamp      883603013
unknown                0
Action                 1
Adventure              0
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  1
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               1
War                    0
Western                0
Age                   42
Gender                 M
Occupation     executive
Zip Code           98101
Name: 547, dtype: object
find a match for user_id  6
row is  <class 'pandas.core.series.Series'>  :  User                   6
Item                  32
Rating                 4
TimeStamp      883601311
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 0
Crime                  0
Documentary            1
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   42
Gender                 M
Occupation     executive
Zip Code           98101
Name: 548, dtype: object
find a match for user_id  6
row is  <class 'pandas.core.series.Series'>  :  User                   6
Item                  47
Rating                 3
TimeStamp      883600943
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 1
Crime                  0
Documentary            0
Drama                  1
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   42
Gender                 M
Occupation     executive
Zip Code           98101
Name: 549, dtype: object
find a match for user_id  6
row is  <class 'pandas.core.series.Series'>  :  User                   6
Item                  50
Rating                 4
TimeStamp      883600842
unknown                0
Action                 1
Adventure              1
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                1
Sci-Fi                 1
Thriller               0
War                    1
Western                0
Age                   42
Gender                 M
Occupation     executive
Zip Code           98101
Name: 550, dtype: object
find a match for user_id  6
row is  <class 'pandas.core.series.Series'>  :  User                   6
Item                  56
Rating                 4
TimeStamp      883601277
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 0
Crime                  1
Documentary            0
Drama                  1
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   42
Gender                 M
Occupation     executive
Zip Code           98101
Name: 551, dtype: object
find a match for user_id  6
row is  <class 'pandas.core.series.Series'>  :  User                   6
Item                  59
Rating                 5
TimeStamp      883601713
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  1
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   42
Gender                 M
Occupation     executive
Zip Code           98101
Name: 552, dtype: object
find a match for user_id  6
row is  <class 'pandas.core.series.Series'>  :  User                   6
Item                  64
Rating                 4
TimeStamp      883600597
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  1
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   42
Gender                 M
Occupation     executive
Zip Code           98101
Name: 553, dtype: object
find a match for user_id  6
row is  <class 'pandas.core.series.Series'>  :  User                   6
Item                  70
Rating                 3
TimeStamp      883601427
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 1
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                1
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   42
Gender                 M
Occupation     executive
Zip Code           98101
Name: 554, dtype: object
find a match for user_id  6
row is  <class 'pandas.core.series.Series'>  :  User                   6
Item                  71
Rating                 4
TimeStamp      883601053
unknown                0
Action                 0
Adventure              0
Children's             1
Comedy                 0
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                1
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   42
Gender                 M
Occupation     executive
Zip Code           98101
Name: 555, dtype: object
find a match for user_id  6
row is  <class 'pandas.core.series.Series'>  :  User                   6
Item                  79
Rating                 3
TimeStamp      883600747
unknown                0
Action                 1
Adventure              0
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               1
War                    0
Western                0
Age                   42
Gender                 M
Occupation     executive
Zip Code           98101
Name: 556, dtype: object
find a match for user_id  6
row is  <class 'pandas.core.series.Series'>  :  User                   6
Item                  81
Rating                 4
TimeStamp      883602283
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 1
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                1
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   42
Gender                 M
Occupation     executive
Zip Code           98101
Name: 557, dtype: object
find a match for user_id  6
row is  <class 'pandas.core.series.Series'>  :  User                   6
Item                  87
Rating                 4
TimeStamp      883602174
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  1
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   42
Gender                 M
Occupation     executive
Zip Code           98101
Name: 558, dtype: object
find a match for user_id  6
row is  <class 'pandas.core.series.Series'>  :  User                   6
Item                  89
Rating                 4
TimeStamp      883600842
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              1
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 1
Thriller               0
War                    0
Western                0
Age                   42
Gender                 M
Occupation     executive
Zip Code           98101
Name: 559, dtype: object
find a match for user_id  6
row is  <class 'pandas.core.series.Series'>  :  User                   6
Item                  95
Rating                 2
TimeStamp      883602133
unknown                0
Action                 0
Adventure              0
Children's             1
Comedy                 1
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                1
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   42
Gender                 M
Occupation     executive
Zip Code           98101
Name: 560, dtype: object
find a match for user_id  6
row is  <class 'pandas.core.series.Series'>  :  User                   6
Item                 100
Rating                 5
TimeStamp      883599176
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 0
Crime                  1
Documentary            0
Drama                  1
Fantasy                0
Film-Noir              0
Horror                 0

row is  <class 'pandas.core.series.Series'>  :  User                   6
Item                 166
Rating                 4
TimeStamp      883601426
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  1
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   42
Gender                 M
Occupation     executive
Zip Code           98101
Name: 580, dtype: object
find a match for user_id  6
row is  <class 'pandas.core.series.Series'>  :  User                   6
Item                 168
Rating                 4
TimeStamp      883602865
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 1
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   42
Gender                 M
Occupation     executive
Zip Code           98101
Name: 581, dtype: object
find a match for user_id  6
row is  <class 'pandas.core.series.Series'>  :  User                   6
Item                 169
Rating                 4
TimeStamp      883600943
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 1
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   42
Gender                 M
Occupation     executive
Zip Code           98101
Name: 582, dtype: object
find a match for user_id  6
row is  <class 'pandas.core.series.Series'>  :  User                   6
Item                 170
Rating                 4
TimeStamp      883602574
unknown                0
Action                 0
Adventure              0
Children's             0
Comedy                 1
Crime                  0
Documentary            0
Drama                  1
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                1
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   42
Gender                 M
Occupation     executive
Zip Code           98101
Name: 583, dtype: object
find a match for user_id  6
row is  <class 'pandas.core.series.Series'>  :  User                   6
Item                 173
Rating                 5
TimeStamp      883602462
unknown                0
Action                 1
Adventure              1
Children's             0
Comedy                 1
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                1
Sci-Fi                 0
Thriller               0
War                    0
Western                0
Age                   42
Gender                 M
Occupation     executive
Zip Code           98101
Name: 584, dtype: object

KeyboardInterrupt:

In [19]:
print(df_data[5000:5003])

      User  Item  Rating  TimeStamp  unknown  Action  Adventure  Children's  \
5000    56    22       5  892676376      0.0     1.0        0.0         0.0
5001    56    25       4  892911166      0.0     0.0        0.0         0.0
5002    56    28       5  892678669      0.0     1.0        0.0         0.0

      Comedy  Crime  ...  Mystery  Romance  Sci-Fi  Thriller  War  Western  \
5000     0.0    0.0  ...      0.0      0.0     0.0       0.0  1.0      0.0
5001     1.0    0.0  ...      0.0      0.0     0.0       0.0  0.0      0.0
5002     0.0    0.0  ...      0.0      0.0     0.0       1.0  0.0      0.0

       Age  Gender  Occupation  Zip Code
5000  25.0       M   librarian     46260
5001  25.0       M   librarian     46260
5002  25.0       M   librarian     46260

[3 rows x 26 columns]

## Preprocess feature of the movie lens data

In [20]:
movie_lens_data_df = pd.read_csv('ml-100k/movielens_data_allfeatures.csv')
pd.set_option('display.max_columns', 500)
movie_lens_data_df

,Unnamed: 0,User,Item,Rating,TimeStamp,unknown,Action,Adventure,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,Age,Gender,Occupation,Zip Code
0,0,1,1,5,874965758,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,24.0,M,technician,85711
1,1,1,2,3,876893171,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,24.0,M,technician,85711
2,2,1,3,4,878542960,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,24.0,M,technician,85711
3,3,1,4,3,876893119,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,24.0,M,technician,85711
4,4,1,5,3,889751712,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,24.0,M,technician,85711
5,5,1,6,5,887431973,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,24.0,M,technician,85711
6,6,1,7,4,875071561,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,24.0,M,technician,85711
7,7,1,8,1,875072484,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,24.0,M,technician,85711
8,8,1,9,5,878543541,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,24.0,M,technician,85711
9,9,1,10,3,875693118,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,24.0,M,technician,85711
10,10,1,11,2,875072262,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,24.0,M,technician,85711
11,11,1,12,5,878542960,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,24.0,M,technician,85711
12,12,1,13,5,875071805,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,24.0,M,technician,85711
13,13,1,14,5,874965706,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,24.0,M,technician,85711
14,14,1,15,5,875071608,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,24.0,M,technician,85711
15,15,1,16,5,878543541,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,24.0,M,technician,85711
16,16,1,17,3,875073198,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,24.0,M,technician,85711
17,17,1,18,4,887432020,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,24.0,M,technician,85711
18,18,1,19,5,875071515,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,24.0,M,technician,85711
19,19,1,21,1,878542772,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,24.0,M,technician,85711
20,20,1,22,4,875072404,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,24.0,M,technician,85711
21,21,1,23,4,875072895,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,24.0,M,technician,85711
22,22,1,24,3,875071713,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,24.0,M,technician,85711
23,23,1,25,4,875071805,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,24.0,M,technician,85711
24,24,1,26,3,875072442,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,24.0,M,technician,85711
25,25,1,27,2,876892946,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,24.0,M,technician,85711
26,26,1,28,4,875072173,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,24.0,M,technician,85711
27,27,1,29,1,878542869,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,24.0,M,technician,85711
28,28,1,30,3,878542515,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,24.0,M,technician,85711
29,29,1,31,3,875072144,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,24.0,M,technician,85711
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90540,90540,943,685,4,875502042,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,22.0,M,student,77841
90541,90541,943,717,4,875502116,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,22.0,M,student,77841
90542,90542,943,720,1,888640048,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,22.0,M,student,77841
90543,90543,943,721,5,888639660,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22.0,M,student,77841
90544,90544,943,722,3,888640208,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22.0,M,student,77841
90545,90545,943,724,1,888639478,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,22.0,M,student,77841
90546,90546,943,732,4,888639789,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,22.0,M,student,77841
90547,90547,943,739,4,888639929,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,22.0,M,student,77841
90548,90548,943,756,2,875502146,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22.0,M,student,77841
90549,90549,943,763,4,875501813,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22.0,M,student,77841
90550,90550,943,765,3,888640227,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,22.0,M,student,77841
90551,90551,943,785,2,888640088,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,22.0,M,student,77841
90552,90552,943,794,3,888640143,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,22.0,M,student,77841
90553,90553,943,796,3,888640311,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,22.0,M,student,77841
90554,90554,943,816,4,888640186,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22.0,M,student,77841
90555,90555,943,824,4,875502483,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22.0,M,student,77841
90556,90556,943,825,3,875502283,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,22.0,M,student,77841
90557,90557,943,831,2,875502283,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,22.0,M,student,77841
90558,90558,943,840,4,888693104,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,22.0,M,student,77841
90559,90559,943,928,5,875502074,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22.0,M,student,77841
90560,90560,943,941,1,888639725,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22.0,M,student,77841
90561,90561,943,943,5,888639614,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,22.0,M,student,77841
90562,90562,943,1011,2,875502560,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22.0,M,student,77841
90563,90563,943,1028,2,875502096,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,22.0,M,student,77841
90564,90564,943,1044,3,888639903,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22.0,M,student,77841
90565,90565,943,1047,2,875502146,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22.0,M,student,77841
90566,90566,943,1074,4,888640250,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22.0,M,student,77841
90567,90567,943,1188,3,888640250,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,22.0,M,student,77841
90568,90568,943,1228,3,888640275,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22.0,M,student,77841
90569,90569,943,1330,3,888692465,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22.0,M,student,77841

In [21]:
##Remove the unnamed:0 column
movie_lens_data_df.drop(['Unnamed: 0'],axis=1, inplace=True)

## One hot encode categorial values

In [22]:
# One hot encode "Gender" 
movie_lens_data_df = pd.concat([movie_lens_data_df,pd.get_dummies(movie_lens_data_df['Gender'], prefix='Gender')],axis=1)
#movie_lens_data_df

In [23]:
##Drop the original feature, since it is not needed anymore.
movie_lens_data_df.drop(['Gender'],axis=1, inplace=True)

In [24]:
# One hot encode the 'Occupation' attribute 
movie_lens_data_df = pd.concat([movie_lens_data_df,pd.get_dummies(movie_lens_data_df['Occupation'], prefix='Occupation')],axis=1)
#movie_lens_data_df

In [25]:
##Drop the original feature, since it is not needed anymore.
movie_lens_data_df.drop(['Occupation'],axis=1, inplace=True)

In [26]:
##For SageMaker XGBoost, the predictor variable should be the first column and there should be no headers in the file.
##So move the 'Rating' colum to the begining of the dataframe.
rating = movie_lens_data_df['Rating']
movie_lens_data_df.drop(labels=['Rating'], axis=1,inplace = True)
movie_lens_data_df.insert(0, 'Rating', rating)
#movie_lens_data_df

In [27]:
##Check the columns after all the processing.
movie_lens_data_df.columns

Index(['Rating', 'User', 'Item', 'TimeStamp', 'unknown', 'Action', 'Adventure',
       'Children's', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
       'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi',
       'Thriller', 'War', 'Western', 'Age', 'Zip Code', 'Gender_F', 'Gender_M',
       'Occupation_administrator', 'Occupation_artist', 'Occupation_doctor',
       'Occupation_educator', 'Occupation_engineer',
       'Occupation_entertainment', 'Occupation_executive',
       'Occupation_healthcare', 'Occupation_homemaker', 'Occupation_lawyer',
       'Occupation_librarian', 'Occupation_marketing', 'Occupation_none',
       'Occupation_other', 'Occupation_programmer', 'Occupation_retired',
       'Occupation_salesman', 'Occupation_scientist', 'Occupation_student',
       'Occupation_technician', 'Occupation_writer'],
      dtype='object')

## Explore the data : TODO

And now let's split the data into training, validation, and test sets.  This will help prevent us from overfitting the model, and allow us to test the models accuracy on data it hasn't already seen.

In [28]:
##Pick up here again.

train_data, validation_data, test_data = np.split(movie_lens_data_df.sample(frac=1, random_state=1729), [int(0.7 * len(movie_lens_data_df)), int(0.9 * len(movie_lens_data_df))])
train_data.to_csv('train.csv', header=False, index=False)
validation_data.to_csv('validation.csv', header=False, index=False)
test_data.to_csv('test.csv', header=False, index=False)


print("Number of training samples : " , len(train_data))
print("Number of validation samples : " , len(validation_data))
print("Number of test samples : " , len(test_data))

Number of training samples :  63398
Number of validation samples :  18115
Number of test samples :  9057

Now we'll upload these files to S3.

In [32]:
boto3.Session().resource('s3').Bucket(bucket).Object(os.path.join(prefix, 'train/train.csv')).upload_file('train.csv')
boto3.Session().resource('s3').Bucket(bucket).Object(os.path.join(prefix, 'validation/validation.csv')).upload_file('validation.csv')
boto3.Session().resource('s3').Bucket(bucket).Object(os.path.join(prefix, 'test/test.csv')).upload_file('test.csv')

print("Movie recommendation training data uploaded to ", bucket, os.path.join(prefix, 'train/train.csv'))
print("Movie recommendation validation data uploaded to ", bucket, os.path.join(prefix, 'validation/validation.csv'))
print("Movie recommendation test data uploaded to ", bucket, os.path.join(prefix, 'test/test.csv'))

Movie recommendation training data uploaded to  sagemaker-us-west-2-555360056434 sagemaker/recommendations-xgboost-movie/train/train.csv
Movie recommendation validation data uploaded to  sagemaker-us-west-2-555360056434 sagemaker/recommendations-xgboost-movie/validation/validation.csv
Movie recommendation test data uploaded to  sagemaker-us-west-2-555360056434 sagemaker/recommendations-xgboost-movie/test/test.csv

---
## Train

Moving onto training, first we'll need to specify the locations of the XGBoost algorithm containers.

In [33]:
from sagemaker.amazon.amazon_estimator import get_image_uri
container = get_image_uri(boto3.Session().region_name, 'xgboost')

WARNING:root:There is a more up to date SageMaker XGBoost image.To use the newer image, please set 'repo_version'='0.90-1. For example:
	get_image_uri(region, 'xgboost', '0.90-1').

Then, because we're training with the CSV file format, we'll create `s3_input`s that our training function can use as a pointer to the files in S3.

In [34]:
s3_input_train = sagemaker.s3_input(s3_data='s3://{}/{}/train'.format(bucket, prefix), content_type='csv')
s3_input_validation = sagemaker.s3_input(s3_data='s3://{}/{}/validation/'.format(bucket, prefix), content_type='csv')

Now, we can specify a few parameters like what type of training instances we'd like to use and how many, as well as our XGBoost hyperparameters.  A few key hyperparameters are:
- `max_depth` controls how deep each tree within the algorithm can be built.  Deeper trees can lead to better fit, but are more computationally expensive and can lead to overfitting.  There is typically some trade-off in model performance that needs to be explored between a large number of shallow trees and a smaller number of deeper trees.
- `subsample` controls sampling of the training data.  This technique can help reduce overfitting, but setting it too low can also starve the model of data.
- `num_round` controls the number of boosting rounds.  This is essentially the subsequent models that are trained using the residuals of previous iterations.  Again, more rounds should produce a better fit on the training data, but can be computationally expensive or lead to overfitting.
- `eta` controls how aggressive each round of boosting is.  Larger values lead to more conservative boosting.
- `gamma` controls how aggressively trees are grown.  Larger values lead to more conservative models.

More detail on XGBoost's hyperparmeters can be found on their GitHub [page](https://github.com/dmlc/xgboost/blob/master/doc/parameter.md).

In [35]:
sess = sagemaker.Session()

xgb = sagemaker.estimator.Estimator(container,
                                    role, 
                                    train_instance_count=1, 
                                    train_instance_type='ml.m4.xlarge',
                                    output_path='s3://{}/{}/output'.format(bucket, prefix),
                                    sagemaker_session=sess)
xgb.set_hyperparameters(max_depth=6,
                        eta=0.2,
                        gamma=5,
                        min_child_weight=6,
                        subsample=0.9,
                        silent=0,
                        objective='reg:linear',
                        num_round=60)

xgb.fit({'train': s3_input_train, 'validation': s3_input_validation})

2019-11-26 19:26:59 Starting - Starting the training job...
2019-11-26 19:27:00 Starting - Launching requested ML instances......
2019-11-26 19:28:02 Starting - Preparing the instances for training......
2019-11-26 19:29:21 Downloading - Downloading input data
2019-11-26 19:29:21 Training - Downloading the training image..Arguments: train
[2019-11-26:19:29:41:INFO] Running standalone xgboost training.
[2019-11-26:19:29:41:INFO] File size need to be processed in the node: 11.57mb. Available memory size in the node: 8522.71mb
[2019-11-26:19:29:41:INFO] Determined delimiter of CSV input is ','
[19:29:41] S3DistributionType set as FullyReplicated
[19:29:41] 63398x46 matrix with 2916308 entries loaded from /opt/ml/input/data/train?format=csv&label_column=0&delimiter=,
[2019-11-26:19:29:41:INFO] Determined delimiter of CSV input is ','
[19:29:41] S3DistributionType set as FullyReplicated
[19:29:41] 18115x46 matrix with 833290 entries loaded from /opt/ml/input/data/validation?format=csv&label_column=0&delimiter=,
[19:29:41] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 104 extra nodes, 4 pruned nodes, max_depth=6
[0]#011train-rmse:2.6571#011validation-rmse:2.66551
[19:29:41] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 96 extra nodes, 14 pruned nodes, max_depth=6
[1]#011train-rmse:2.21866#011validation-rmse:2.22591
[19:29:41] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 98 extra nodes, 20 pruned nodes, max_depth=6
[2]#011train-rmse:1.88398#011validation-rmse:1.8905
[19:29:41] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 102 extra nodes, 18 pruned nodes, max_depth=6
[3]#011train-rmse:1.63386#011validation-rmse:1.63993
[19:29:41] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 94 extra nodes, 14 pruned nodes, max_depth=6
[4]#011train-rmse:1.44952#011validation-rmse:1.45539
[19:29:42] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 94 extra nodes, 18 pruned nodes, max_depth=6
[5]#011train-rmse:1.3177#011validation-rmse:1.32363
[19:29:42] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 94 extra nodes, 24 pruned nodes, max_depth=6
[6]#011train-rmse:1.22419#011validation-rmse:1.2302
[19:29:42] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 86 extra nodes, 22 pruned nodes, max_depth=6
[7]#011train-rmse:1.1596#011validation-rmse:1.16551
[19:29:42] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 110 extra nodes, 14 pruned nodes, max_depth=6
[8]#011train-rmse:1.11451#011validation-rmse:1.12017
[19:29:42] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 88 extra nodes, 30 pruned nodes, max_depth=6
[9]#011train-rmse:1.08426#011validation-rmse:1.09018
[19:29:42] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 92 extra nodes, 28 pruned nodes, max_depth=6
[10]#011train-rmse:1.06237#011validation-rmse:1.06891
[19:29:42] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 100 extra nodes, 16 pruned nodes, max_depth=6
[11]#011train-rmse:1.04643#011validation-rmse:1.05344
[19:29:42] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 102 extra nodes, 22 pruned nodes, max_depth=6
[12]#011train-rmse:1.03585#011validation-rmse:1.04315
[19:29:42] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 104 extra nodes, 10 pruned nodes, max_depth=6
[13]#011train-rmse:1.02665#011validation-rmse:1.03453
[19:29:42] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 102 extra nodes, 22 pruned nodes, max_depth=6
[14]#011train-rmse:1.02004#011validation-rmse:1.02833
[19:29:42] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 86 extra nodes, 22 pruned nodes, max_depth=6
[15]#011train-rmse:1.01522#011validation-rmse:1.0238
[19:29:42] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 84 extra nodes, 12 pruned nodes, max_depth=6
[16]#011train-rmse:1.01035#011validation-rmse:1.01932
[19:29:42] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 58 extra nodes, 32 pruned nodes, max_depth=6
[17]#011train-rmse:1.00805#011validation-rmse:1.01699
[19:29:43] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 92 extra nodes, 14 pruned nodes, max_depth=6
[18]#011train-rmse:1.00533#011validation-rmse:1.01487
[19:29:43] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 68 extra nodes, 26 pruned nodes, max_depth=6
[19]#011train-rmse:1.00259#011validation-rmse:1.01282
[19:29:43] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 88 extra nodes, 24 pruned nodes, max_depth=6
[20]#011train-rmse:0.999615#011validation-rmse:1.01086
[19:29:43] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 108 extra nodes, 10 pruned nodes, max_depth=6
[21]#011train-rmse:0.995757#011validation-rmse:1.00767
[19:29:43] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 94 extra nodes, 16 pruned nodes, max_depth=6
[22]#011train-rmse:0.99352#011validation-rmse:1.0061
[19:29:43] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 84 extra nodes, 28 pruned nodes, max_depth=6
[23]#011train-rmse:0.991329#011validation-rmse:1.00413
[19:29:43] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 64 extra nodes, 36 pruned nodes, max_depth=6
[24]#011train-rmse:0.989229#011validation-rmse:1.0026
[19:29:43] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 98 extra nodes, 16 pruned nodes, max_depth=6
[25]#011train-rmse:0.986989#011validation-rmse:1.00063
[19:29:43] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 54 extra nodes, 38 pruned nodes, max_depth=6
[26]#011train-rmse:0.985596#011validation-rmse:0.999494
[19:29:43] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 108 extra nodes, 14 pruned nodes, max_depth=6
[27]#011train-rmse:0.981409#011validation-rmse:0.99613
[19:29:43] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 98 extra nodes, 26 pruned nodes, max_depth=6
[28]#011train-rmse:0.979154#011validation-rmse:0.994221
[19:29:43] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 86 extra nodes, 22 pruned nodes, max_depth=6
[29]#011train-rmse:0.97756#011validation-rmse:0.993136
[19:29:43] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 60 extra nodes, 18 pruned nodes, max_depth=6
[30]#011train-rmse:0.976369#011validation-rmse:0.99222
[19:29:44] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 96 extra nodes, 22 pruned nodes, max_depth=6
[31]#011train-rmse:0.97322#011validation-rmse:0.989635
[19:29:44] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 66 extra nodes, 14 pruned nodes, max_depth=6
[32]#011train-rmse:0.972332#011validation-rmse:0.989082
[19:29:44] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 44 extra nodes, 36 pruned nodes, max_depth=6
[33]#011train-rmse:0.971508#011validation-rmse:0.988689
[19:29:44] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 72 extra nodes, 28 pruned nodes, max_depth=6
[34]#011train-rmse:0.969658#011validation-rmse:0.987535
[19:29:44] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 68 extra nodes, 44 pruned nodes, max_depth=6
[35]#011train-rmse:0.968834#011validation-rmse:0.987144
[19:29:44] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 92 extra nodes, 24 pruned nodes, max_depth=6
[36]#011train-rmse:0.967056#011validation-rmse:0.9861
[19:29:44] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 72 extra nodes, 26 pruned nodes, max_depth=6
[37]#011train-rmse:0.966101#011validation-rmse:0.985327
[19:29:44] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 48 extra nodes, 42 pruned nodes, max_depth=6
[38]#011train-rmse:0.965412#011validation-rmse:0.985067
[19:29:44] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 52 extra nodes, 42 pruned nodes, max_depth=6
[39]#011train-rmse:0.964448#011validation-rmse:0.984243
[19:29:44] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 64 extra nodes, 36 pruned nodes, max_depth=6
[40]#011train-rmse:0.963431#011validation-rmse:0.983518
[19:29:44] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 46 extra nodes, 26 pruned nodes, max_depth=6
[41]#011train-rmse:0.962718#011validation-rmse:0.983064
[19:29:44] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 80 extra nodes, 28 pruned nodes, max_depth=6
[42]#011train-rmse:0.961115#011validation-rmse:0.982084
[19:29:44] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 66 extra nodes, 26 pruned nodes, max_depth=6
[43]#011train-rmse:0.959584#011validation-rmse:0.98108
[19:29:44] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 80 extra nodes, 32 pruned nodes, max_depth=6
[44]#011train-rmse:0.958188#011validation-rmse:0.980275
[19:29:45] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 66 extra nodes, 36 pruned nodes, max_depth=6
[45]#011train-rmse:0.956883#011validation-rmse:0.979285
[19:29:45] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 78 extra nodes, 32 pruned nodes, max_depth=6
[46]#011train-rmse:0.954767#011validation-rmse:0.977567
[19:29:45] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 78 extra nodes, 40 pruned nodes, max_depth=6
[47]#011train-rmse:0.953432#011validation-rmse:0.976749
[19:29:45] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 72 extra nodes, 24 pruned nodes, max_depth=6
[48]#011train-rmse:0.952285#011validation-rmse:0.976046
[19:29:45] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 58 extra nodes, 44 pruned nodes, max_depth=6
[49]#011train-rmse:0.951306#011validation-rmse:0.975452
[19:29:45] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 68 extra nodes, 24 pruned nodes, max_depth=6
[50]#011train-rmse:0.949919#011validation-rmse:0.974623
[19:29:45] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 34 extra nodes, 28 pruned nodes, max_depth=6
[51]#011train-rmse:0.949444#011validation-rmse:0.974364
[19:29:45] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 74 extra nodes, 26 pruned nodes, max_depth=6
[52]#011train-rmse:0.948555#011validation-rmse:0.974043
[19:29:45] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 38 extra nodes, 28 pruned nodes, max_depth=6
[53]#011train-rmse:0.948003#011validation-rmse:0.973791
[19:29:45] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 26 extra nodes, 32 pruned nodes, max_depth=6
[54]#011train-rmse:0.947752#011validation-rmse:0.973805
[19:29:45] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 34 extra nodes, 10 pruned nodes, max_depth=6
[55]#011train-rmse:0.947307#011validation-rmse:0.973527
[19:29:45] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 30 extra nodes, 56 pruned nodes, max_depth=6
[56]#011train-rmse:0.946895#011validation-rmse:0.97328

2019-11-26 19:29:53 Uploading - Uploading generated training model
2019-11-26 19:29:53 Completed - Training job completed
[19:29:45] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 64 extra nodes, 46 pruned nodes, max_depth=6
[57]#011train-rmse:0.945981#011validation-rmse:0.972677
[19:29:45] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 20 extra nodes, 48 pruned nodes, max_depth=5
[58]#011train-rmse:0.945841#011validation-rmse:0.972631
[19:29:46] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 36 extra nodes, 16 pruned nodes, max_depth=6
[59]#011train-rmse:0.945565#011validation-rmse:0.972541
Training seconds: 50
Billable seconds: 50

---
## Host

Now that we've trained the algorithm, let's create a model and deploy it to a hosted endpoint.

In [36]:
xgb_predictor = xgb.deploy(initial_instance_count = 1, instance_type = 'ml.m4.xlarge')

--------------------------------------------------------------------------------------------------!

### Evaluate

Now that we have a hosted endpoint running, we can make real-time predictions from our model very easily, simply by making an http POST request.  But first, we'll need to setup serializers and deserializers for passing our `test_data` NumPy arrays to the model behind the endpoint.

In [37]:
xgb_predictor.content_type = 'text/csv'
xgb_predictor.serializer = csv_serializer
xgb_predictor.deserializer = None

Now, we'll use a simple function to:
1. Loop over our test dataset
1. Split it into mini-batches of rows 
1. Convert those mini-batchs to CSV string payloads
1. Retrieve mini-batch predictions by invoking the XGBoost endpoint
1. Collect predictions and convert from the CSV output our model provides into a NumPy array

In [38]:
print("test_data type is ", type(test_data))

ratings = test_data['Rating']

print("ratings type ", type(ratings))

test_data.drop('Rating', axis=1, inplace=True)

test_data

test_data type is  <class 'pandas.core.frame.DataFrame'>
ratings type  <class 'pandas.core.series.Series'>

,User,Item,TimeStamp,unknown,Action,Adventure,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,Age,Zip Code,Gender_F,Gender_M,Occupation_administrator,Occupation_artist,Occupation_doctor,Occupation_educator,Occupation_engineer,Occupation_entertainment,Occupation_executive,Occupation_healthcare,Occupation_homemaker,Occupation_lawyer,Occupation_librarian,Occupation_marketing,Occupation_none,Occupation_other,Occupation_programmer,Occupation_retired,Occupation_salesman,Occupation_scientist,Occupation_student,Occupation_technician,Occupation_writer
11626,122,956,879270850,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,32.0,22206,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
6220,63,10,875748004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,31.0,75240,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
33916,342,192,875320082,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,98006,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
39502,393,1409,889729536,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,19.0,83686,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
76963,796,127,892660147,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,32.0,33755,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
36621,373,474,877098919,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,24.0,55116,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
65240,654,204,887864610,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,27.0,78739,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
77540,801,332,890332719,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,22.0,92154,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
27566,295,1,879517580,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,31.0,50325,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
53484,524,197,884637347,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,56.0,02159,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3206,23,219,874788187,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,30.0,48197,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
48308,468,98,875288196,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,28.0,02341,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
8039,87,47,879876637,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,47.0,89503,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
85023,886,1,876031433,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20.0,61820,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
15191,178,216,882826868,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,26.0,49512,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
58614,577,1291,880471954,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,36.0,77845,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
28184,298,946,884182868,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,44.0,01581,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
31643,323,334,878738865,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,21.0,19149,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
62648,629,193,880117565,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,46.0,44224,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
77309,798,143,875639061,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,40.0,64131,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
64778,650,495,891372316,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,42.0,83814,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
89864,934,624,891193290,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,61.0,22902,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
89312,931,302,891035876,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,60.0,33556,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
40345,401,151,891032584,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,46.0,84107,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
74818,767,242,891462614,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,70.0,00000,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
86643,896,632,887159261,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,28.0,91505,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
36885,374,693,880396359,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,36.0,78746,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7761,85,87,879829327,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,51.0,20003,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
83971,880,117,880166872,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,13.0,83702,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
10529,109,69,880572561,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,29.0,55423,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5672,59,603,888204309,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,49.0,08403,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
46002,450,520,887136083,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,35.0,11758,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1527,11,743,891904065,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,39.0,30329,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
15067,177,327,880130467,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,20.0,19104,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
34007,342,763,874984854,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,98006,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
84420,881,451,876539186,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,39.0,43017,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
36133,363,1228,891498720,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20.0,87501,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
22209,251,117,886272009,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,28.0,85032,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
86849,897,411,879993797,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,30.0,33484,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
77470,798,1049,875638150,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,40.0,64131,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
43957,429,472,882387434,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27.0,29205,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
24874,276,226,874792520,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,21.0,95064,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
45312,443,948,883504844,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,35.0,33308,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
70013,708,993,877325349,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,26.0,96349,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
87706,910,118,881420857,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,28.0,29301,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
84364,881,222,876536079,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,39.0,43017,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
17275,197,271,891409352,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,55.0,75094,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
53616,524,603,884637376,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,56.0,02159,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
81715,851,841,875730757,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,18.0,29646,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
90451,943,132,888639093,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,22.0,77841,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
58569,577,595,880471170,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,36.0,77845,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
58788,582,547,882961608,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17.0,93003,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
56923,553,86,879948771,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,58.0,62901,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1217,10,124,877888545,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,53.0,90703,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
8507,90,639,891385039,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,60.0,78155,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
88921,923,294,880387081,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,E2E3R,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
54821,535,699,879619000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,45.0,80302,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
66803,664,160,876524731,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,30.0,94115,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
68710,692,523,876953204,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,34.0,18053,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1677,13,172,882140355,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,47.0,29206,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [39]:
##Indice causing errors : 48,75,95.134
test_data_matrix = test_data.as_matrix()

#Try removing these indices : TODO

print("test_data_matrix type is ", type(test_data_matrix), " shape ", test_data_matrix.shape)

test_data_matrix_subset = test_data_matrix[:10]

predictions=[]

for i in range(0, 100):
    print(test_data_matrix[i])
    predicted_value = xgb_predictor.predict(test_data_matrix[i])
    predictions.append(predicted_value)
    print("predicted value ", predicted_value)
    
print("Number of predictions ", len(predictions))
print("Number of original ratings ", len(ratings))

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/ipykernel/__main__.py:2: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  from ipykernel import kernelapp as app

test_data_matrix type is  <class 'numpy.ndarray'>  shape  (9057, 46)
[122 956 879270850 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 32.0 '22206' 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 1]
predicted value  b'3.50076365471'
[63 10 875748004 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0
 0.0 0.0 1.0 0.0 31.0 '75240' 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0
 0]
predicted value  b'3.77948379517'
[342 192 875320082 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 25.0 '98006' 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0
 0]
predicted value  b'3.99539732933'
[393 1409 889729536 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 0.0 19.0 '83686' 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 1 0 0]
predicted value  b'2.6379570961'
[796 127 892660147 0.0 1.0 0.0 0.0 0.0 1.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 32.0 '33755' 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 1]
predicted value  b'4.19961929321'
[373 474 877098919 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
 1.0 0.0 1.0 0.0 24.0 '55116' 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0
 0]
predicted value  b'4.08192825317'
[654 204 887864610 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
 1.0 0.0 0.0 0.0 27.0 '78739' 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0
 0]
predicted value  b'3.70326209068'
[801 332 890332719 0.0 0.0 0.0 0.0 0.0 1.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0
 0.0 1.0 0.0 0.0 22.0 '92154' 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 1]
predicted value  b'3.01146221161'
[295 1 879517580 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 31.0 '50325' 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0]
predicted value  b'4.156208992'
[524 197 884637347 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 1.0
 0.0 0.0 0.0 0.0 56.0 '02159' 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0]
predicted value  b'3.87224054337'
[23 219 874788187 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 30.0 '48197' 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0]
predicted value  b'3.50689721107'
[468 98 875288196 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0
 0.0 1.0 0.0 0.0 28.0 '02341' 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0]
predicted value  b'4.23518562317'
[87 47 879876637 0.0 0.0 0.0 0.0 1.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 47.0 '89503' 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0]
predicted value  b'3.90402936935'
[886 1 876031433 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 20.0 '61820' 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0
 0]
predicted value  b'3.73480200768'
[178 216 882826868 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0
 0.0 0.0 0.0 0.0 26.0 '49512' 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0
 0]
predicted value  b'3.94929003716'
[577 1291 880471954 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 0.0 36.0 '77845' 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 1 0 0]
predicted value  b'3.06910872459'
[298 946 884182868 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 44.0 '01581' 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0
 0]
predicted value  b'3.40931391716'
[323 334 878738865 0.0 1.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0
 0.0 0.0 0.0 0.0 21.0 '19149' 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0
 0]
predicted value  b'3.24331593513'
[629 193 880117565 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 46.0 '44224' 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0
 0]
predicted value  b'4.11234664917'
[798 143 875639061 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0
 0.0 0.0 0.0 0.0 40.0 '64131' 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 1]
predicted value  b'3.44093847275'
[650 495 891372316 0.0 0.0 1.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 42.0 '83814' 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0]
predicted value  b'3.60887265205'
[934 624 891193290 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0
 0.0 0.0 0.0 0.0 61.0 '22902' 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0]
predicted value  b'3.31861186028'
[931 302 891035876 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 1.0 0.0 0.0 1.0 0.0
 0.0 1.0 0.0 0.0 60.0 '33556' 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0]
predicted value  b'4.17191982269'
[401 151 891032584 0.0 0.0 1.0 1.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 46.0 '84107' 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0
 0]
predicted value  b'2.95799016953'
[767 242 891462614 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 70.0 '00000' 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0]
predicted value  b'3.61484956741'
[896 632 887159261 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 28.0 '91505' 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 1]
predicted value  b'3.00962591171'
[374 693 880396359 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 36.0 '78746' 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0
 0]
predicted value  b'3.47745609283'
[85 87 879829327 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 51.0 '20003' 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0]
predicted value  b'3.81134533882'
[880 117 880166872 0.0 1.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
 0.0 1.0 0.0 0.0 13.0 '83702' 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0
 0]
predicted value  b'3.75076699257'
[109 69 880572561 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0
 0.0 0.0 1.0 0.0 29.0 '55423' 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0
 0]
predicted value  b'3.55695271492'
[92 81 875654929 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0
 0.0 0.0 0.0 0.0 32.0 '80525' 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0]
predicted value  b'3.45473504066'
[458 147 886395065 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
 0.0 1.0 0.0 0.0 47.0 'Y1A6B' 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1
 0]

ModelError: An error occurred (ModelError) when calling the InvokeEndpoint operation: Received client error (415) from model with message "Loading csv data failed with Exception, please ensure data is in csv format:
 <type 'exceptions.ValueError'>
 could not convert string to float: Y1A6B". See https://us-west-2.console.aws.amazon.com/cloudwatch/home?region=us-west-2#logEventViewer:group=/aws/sagemaker/Endpoints/xgboost-2019-11-26-19-26-59-179 in account 555360056434 for more information.

In [ ]:
##Compare with the original values 
for i in range(0, 20):
    #Prediction returned is a byte array.  Convert this to float to compare with the original
    prediction = float(predictions[i].decode())  
    print("predicted value ", prediction, " original value ", ratings.values[i])


TODO : Show some metrics

### (Optional) Clean-up

If you're ready to be done with this notebook, please run the cell below.  This will remove the hosted endpoint you created and avoid any charges from a stray instance being left on.

In [ ]:
sagemaker.Session().delete_endpoint(xgb_predictor.endpoint)